<section class="filtros">
    <div>
        <span class="form-group">
            <label>Loja</label>
            <lista-selecao-lojas v-bind:loja.sync="lojaAtual" v-bind:ativas="true"></lista-selecao-lojas>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>        
        <span class="form-group">
            <label>Período Movimentação</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoMovimentacaoInicio" v-bind:data-hora-final.sync="filtroAtual.periodoMovimentacaoFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Produto</label>
            <input type="text" v-model="filtroAtual.codigoProduto" style="width: 60px" />
            <input type="text" v-model="filtroAtual.descricaoProduto" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span>
            <label>NCM</label>
            <input type="number" v-model="filtroAtual.ncm" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Situação</label>
            <lista-selecao-id-valor :item-selecionado.sync="situacaoAtual" texto-selecionar="Todas"
                :funcao-recuperar-itens="obterSituacoes"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Tipo</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="tipoMovimentacaoAtual" texto-selecionar="Todas"
                v-bind:funcao-recuperar-itens="obterItensFiltroTiposMovimentacao"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>CFOP</label>
            <input type="number" v-model="filtroAtual.idCfop" style="width: 50px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span>
            <label>Nota Fiscal</label>
            <input type="number" v-model="filtroAtual.numeroNotaFiscal" style="width: 80px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Grupo</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="idGrupoProdutoAtual" texto-selecionar="Selecione o grupo" v-bind:funcao-recuperar-itens="obterItensFiltroGruposProduto"
                v-bind:ordenar="false"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Subgrupo</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="idSubgrupoProdutoAtual" texto-selecionar="Selecione o Subgrupo" v-bind:funcao-recuperar-itens="obterItensFiltroSubgruposProduto"
                v-bind:ordenar="false" v-bind:filtro-recuperar-itens="filtroSubgrupos"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
     </div>
     <div>
         <span class="form-group">
             <label>Cor vidro</label>
             <lista-selecao-id-valor v-bind:item-selecionado.sync="corVidroAtual" texto-selecionar="Todos" v-bind:funcao-recuperar-itens="obterItensFiltroCoresVidro"
                v-bind:ordenar="false"></lista-selecao-id-valor>
             <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
         </span>
         <span class="form-group">
             <label>Cor ferragem</label>
             <lista-selecao-id-valor v-bind:item-selecionado.sync="corFerragemAtual" texto-selecionar="Todos" v-bind:funcao-recuperar-itens="obterItensFiltroCoresFerragem"
                v-bind:ordenar="false"></lista-selecao-id-valor>
             <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
         </span>
         <span class="form-group">
             <label>Cor alumínio</label>
             <lista-selecao-id-valor v-bind:item-selecionado.sync="corAluminioAtual" texto-selecionar="Todos" v-bind:funcao-recuperar-itens="obterItensFiltroCoresAluminio"
                v-bind:ordenar="false"></lista-selecao-id-valor>
             <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
         </span>
     </div>
     <div>
        <span class="form-group">
            <input type="checkbox" v-model="filtroAtual.naoBuscarProdutosComEstoqueZerado" />
            <label>Não Buscar Produtos com Estoque Zerado</label>
        </span>
        <span class="form-group">
            <input type="checkbox" v-model="filtroAtual.apenasLancamentosManuais" />
            <label>Apenas Lançamentos Manuais</label>
        </span>
        <span class="form-group">
            <input type="checkbox" v-model="filtroAtual.usarValorFiscalDoProdutoNoInventario" />
            <label>Usar Valor Fiscal do produto no inventário</label>
        </span>
    </div>
</section>
