<section class="filtros">
    <div>
        <span class="form-group">
            <label>Cód.</label>
            <input type="text" v-model="filtroAtual.codigo" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Descrição</label>
            <input id="descricao" type="text" v-model="filtroAtual.descricao" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
</section>
