<div class="opblock opblock-get">
    <div class="opblock-summary" @click.prevent="alterarExibicaoDetalhes()">
        <span class="opblock-summary-path">{{itemEsquema.nome}}</span>
        <div class="opblock-summary-description">{{itemEsquema.descricao}}</div>
    </div>
    <div v-if="podeExibirDetalhes" style="height: auto; border: none; margin: 0px; padding: 0px;">
        <div class="opblock-body">
            <div class="opblock-section">
                <div class="opblock-section-header">
                    <div style="margin-right: 10px;">
                        <input v-for="filtro in itensFiltro"
                               type="text"
                               v-bind:placeholder="filtro.identificador.nome"
                               v-model="filtro.valor"
                               style="margin-right: 10px;" />
                        <select v-model="tipoItem">
                            <option value="" selected>Tipo de item...</option>
                            <option>Integrando</option>
                            <option>Integrado</option>
                            <option>Informativo</option>
                            <option>Falha</option>
                        </select>
                    </div>
                    <div class="try-out">
                        <button class="btn try-out__btn" type="button" :disabled="atualizando" @click.prevent="atualizar()">
                            <span v-if="!atualizando">Pesquisar</span>
                            <span v-if="atualizando">Pesquisando...</span>
                        </button>
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th v-for="coluna in cabecalho" class="col col_header">
                                    {{coluna}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr is="integradores-itemhistorico"
                                v-for="item in itens"
                                :itemEsquema="itemEsquema"
                                :item="item">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
