<span style="padding: 0">
    <span ref="botao" v-on:mouseover.prevent="exibirMouse" v-on:mouseout.prevent="esconderMouse"
        v-on:click.prevent="exibirClick" style="cursor: pointer; display: inline-block">
        <slot name="botao">
        </slot>
    </span>
    <transicao v-bind:exibir="exibir" v-bind:exibir-como-bloco="false"
        v-on:entrar="calcularPosicao__" v-on:exibir="mostrar__" v-on:esconder="esconder__">
        <div ref="popup" v-bind:style="estiloPopup">
            <div v-if="titulo || precisaClicar" v-bind:style="estiloTitulo">
                <span style="color: white; white-space: nowrap; text-align: left; font-size: 8pt" v-if="titulo">
                    {{ titulo }}
                </span>
                <span v-else></span>
                <button v-bind:style="estiloBotaoFechar" v-if="precisaClicar" v-on:click.prevent="fechar"
                    v-on:mouseover.prevent="fecharAtivo = true" v-on:mouseout.prevent="fecharAtivo = false">
                    Fechar
                </button>
            </div>
            <div style="padding: 3px; text-align: center">
                <slot></slot>
            </div>
        </div>
    </transicao>
</span>
