<div>
    <div v-if="bloqueios > 0" v-bind:style="bloqueio">
        <iframe frameborder="0" v-bind:style="frame"></iframe>
        <span v-bind:style="mensagem">
            <img src="../Images/load.gif" height="96px" />
            <div style="font-size: xx-large">
                Aguarde
            </div>
            <div style="font-size: medium">
                Processando suas informações...
            </div>
        </span>
    </div>
    <div v-else-if="processos > 0" v-bind:style="processamento">
        <img src="../Images/load.gif" height="16px" />
        <span>
            Aguarde...
        </span>
    </div>
</div>
