<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.0" newVersion="8.0.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Management" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProdutosService" />
        <binding name="BasicHttpBinding_IIndicadoresService" />
        <binding name="BasicHttpBinding_IPedidoService" />
        <binding name="BasicHttpBinding_IConsultasService" />
        <binding name="BasicHttpBinding_IParceirosService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.ikhan.com.br/appskhan/knIntegrador/IndicadoresService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIndicadoresService"
        contract="KhanIndicadoresServiceReference.IIndicadoresService"
        name="BasicHttpBinding_IIndicadoresService" />
      <endpoint address="http://www.ikhan.com.br/appskhan/knIntegrador/ProdutosService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProdutosService"
        contract="KhanProdutosServiceReference.IProdutosService" name="BasicHttpBinding_IProdutosService" />
      <endpoint address="http://mercado.khan.com.br/appskhan/knIntegrador/ConsultasService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultasService"
        contract="KhanConsultasServiceReference.IConsultasService" name="BasicHttpBinding_IConsultasService" />
      <endpoint address="http://mercado.khan.com.br/appskhan/knIntegrador/PedidoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPedidoService"
        contract="KhanPedidoServiceReference.IPedidoService" name="BasicHttpBinding_IPedidoService" />
      <endpoint address="http://mercado.khan.com.br/appskhan/knIntegrador/ParceirosService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParceirosService"
        contract="KhanParceirosServiceReference.IParceirosService" name="BasicHttpBinding_IParceirosService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
