<section class="filtros">
    <div>
        <span class="form-group">
            <label>Cód</label>
            <input type="number" v-model="filtroAtual.id" style="width: 50px" />
            <button class="botaoPesquisar" @click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Num. Arq. Remessa</label>
            <input type="number" v-model="filtroAtual.numeroArquivoRemessa" style="width: 50px" />
            <button class="botaoPesquisar" @click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Tipo Remessa</label>
            <lista-selecao-id-valor :item-selecionado.sync="tipoAtual" 
                :funcao-recuperar-itens="obterItensFiltroTipos"></lista-selecao-id-valor>
            <button class="botaoPesquisar" @click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Período Cadastro</label>
            <campo-data-hora-periodo :data-hora-inicial.sync="filtroAtual.periodoCadastroInicio"
                :data-hora-final.sync="filtroAtual.periodoCadastroFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" @click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Cód</label>
            <lista-selecao-id-valor :item-selecionado.sync="contaBancariaAtual" 
                :funcao-recuperar-itens="obterItensFiltroContasBancarias"></lista-selecao-id-valor>
            <button class="botaoPesquisar" @click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
</section>