<?xml version="1.0"?>
<appSettings>
  <add key="sistema" value="syncprojesp" />
  <add key="diretorioModelosProjeto" value="C:\Work\WebGlass\trunk\Desenvolvimento\Glass\Upload\ModelosProjeto" />
  <add key="diretorioUpload" value="C:\Work\WebGlass\trunk\Desenvolvimento\Glass\Upload" />
</appSettings>
