<?xml version="1.0"?>
<mef.configuration>
  <parts>
    
    <part type="Glass.Api.Seguranca.Implementacao.AutenticacaoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Seguranca.IAutenticacaoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Graficos.Vendas.Implementacao.VendaFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Vendas.IVendaFluxo, Glass.Api" />
      </exports>
    </part>
    
    <part type="Glass.Api.Graficos.Financeiros.Implementacao.FinanceiroFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Financeiros.IFinanceiroFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Graficos.Producao.Implementacao.ProducaoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Producao.IProducaoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.DataFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.IProvedorFeriados, Glass.Comum" />
        <export contractType="Glass.Global.Negocios.IDataFluxo, Glass.Negocios" />
      </exports>
    </part>
    
    <part type="Glass.Api.Notificacoes.Implementacao.NotificacaoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Notificacoes.INotificacaoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Graficos.Administrativos.Implementacao.AdministrativoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Administrativos.IAdministrativoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Implementacao.AnexoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.IAnexoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.MensagemFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IMensagemFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.DeviceAppFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IDeviceAppFluxo, Glass.Negocios" />
      </exports>
    </part>
    
  </parts>
</mef.configuration>