<?xml version="1.0"?>
<mef.configuration>
  <parts>
    
    <part type="Glass.Api.Seguranca.Implementacao.AutenticacaoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Seguranca.IAutenticacaoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Graficos.Vendas.Implementacao.VendaFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Vendas.IVendaFluxo, Glass.Api" />
      </exports>
    </part>
    
    <part type="Glass.Api.Graficos.Financeiros.Implementacao.FinanceiroFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Financeiros.IFinanceiroFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Graficos.Producao.Implementacao.ProducaoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Producao.IProducaoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.DataFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.IProvedorFeriados, Glass.Comum" />
        <export contractType="Glass.Global.Negocios.IDataFluxo, Glass.Negocios" />
      </exports>
    </part>
    
    <part type="Glass.Api.Notificacoes.Implementacao.NotificacaoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Notificacoes.INotificacaoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Graficos.Administrativos.Implementacao.AdministrativoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.Graficos.Administrativos.IAdministrativoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Api.Implementacao.AnexoFluxo, Glass.Api.Implementacao">
      <exports>
        <export contractType="Glass.Api.IAnexoFluxo, Glass.Api" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.MensagemFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IMensagemFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.DeviceAppFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IDeviceAppFluxo, Glass.Negocios" />
      </exports>
    </part>


    <part type="Glass.Rentabilidade.Negocios.Componentes.RentabilidadeFluxo, Glass.Negocios.Componentes"  partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Rentabilidade.Negocios.IRentabilidadeFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.IProvedorCalculadoraRentabilidade, Glass.Rentabilidade" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.IProvedorIndicadorFinanceiro, Glass.Rentabilidade" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.IProvedorDescritorRegistroRentabilidade, Glass.Rentabilidade" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.Negocios.Entidades.IProvedorExpressaoRentabilidade, Glass.Negocios.Entidades" />
        <export contractName="" contractType="Glass.Rentabilidade.Negocios.Entidades.IProvedorConfigRegistroRentabilidade, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Pedido.Negocios.Componentes.CalculadoraRentabilidadePedido, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.Pedido)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.Pedido, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.ProdutosPedido)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.ProdutosPedido, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.AmbientePedido)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.AmbientePedido, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.Pedido)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.Pedido, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.ProdutosPedido)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.ProdutosPedido, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.AmbientePedido)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.AmbientePedido, Glass.Data], Glass.Data" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.CalculadoraRentabilidadePedidoEspelho, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.PedidoEspelho)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.PedidoEspelho, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.ProdutosPedidoEspelho)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.ProdutosPedidoEspelho, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.AmbientePedidoEspelho)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.AmbientePedidoEspelho, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.PedidoEspelho)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.PedidoEspelho, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.ProdutosPedidoEspelho)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.ProdutosPedidoEspelho, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.AmbientePedidoESpelho)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.AmbientePedidoEspelho, Glass.Data], Glass.Data" />
      </exports>
    </part>

    <part type="Glass.Projeto.CustomOutputDriverProvider, Glass.Projeto" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractType="CalcEngine.IOutputDriverProvider, CalcEngine" />
      </exports>
    </part>

  </parts>
</mef.configuration>
