
body {
	background-color: #74C0E6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

input {
	color : #000000;
	font-size : 12px;
	font-family : Tahoma,Verdana,Arial;
}

select {
	color : #000000;
	font-size : 12px;
	font-family : Tahoma,Verdana,Arial;
}

a {
 text-decoration: none;
 color: #0066FF;
 font-weight:bold;
 font-size:10pt;
}

a:hover {
 color: #AAAAAA;
}

.title {
	color: #6EA0D0;/*#0033FF;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
}

.subtitle {
	color: #6EA0D0; /*#0033FF;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}

.botao 
{
	height: 80px;
	width: 500px;
	font-family: Arial, Verdana;
	font-size: 36px;
	color: #6EA0D0; /*#0033FF;*/
}

.divisor
{
    width: 100%;
    vertical-align: top;
}

.situacoes
{
	vertical-align: top;
    width: 100%;
}

.main
{
    width: 810px;
    background-color: #FFFFFF;
    vertical-align: top;
}

.tdTitulo
{
	background-color: #CEE0F6;
	height: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #6EA0D0;
}

.tdFiltro
{
	background-color: #CEE0F6;
	height: 500px; 
	vertical-align: top; 
	border-style: solid; 
	border-width: 1px;
	border-color: #6EA0D0;
}

.tdConfirmacao
{
	background-color: #CEE0F6;
	vertical-align: top; 
	width: 100%; 
	border-style: solid; 
	border-width: 1px;
	border-color: #6EA0D0;
	margin-right: 2px;
}