#ctl00_ctl00_Menu_mnuGeral {
  text-align: center;
  float: none !important;
}

  #ctl00_ctl00_Menu_mnuGeral ul.static {
    float: none !important;
    display: inline-block;
  }

  #ctl00_ctl00_Menu_mnuGeral a.dynamic, #ctl00_ctl00_Menu_mnuGeral a.highlighted {
    text-align: left;
    height: auto !important;
  }

  #ctl00_ctl00_Menu_mnuGeral a.dynamic {
    padding: 4px !important;
  }

  #ctl00_ctl00_Menu_mnuGeral li.dynamic.has-popup a.dynamic {
    padding-right: 16px !important;
  }

.adjustedZIndex {
  z-index: 1;
}

input, button, textarea, select, .ui-dropdownchecklist-text {
  font-size: 12px;
  font-family: Tahoma,Verdana,Arial;
}

.ui-dropdownchecklist-text {
  line-height: 19px !important;
  height: 19px !important;
}

body {
  background-color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

body, td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000000;
}

input[type="text"], input[type="number"], input[type="search"], input[type="date"],
input[type="time"], input[type="email"], input[type="password"], textarea, select {
  margin: 2px 0;
  line-height: 18px;
  border: 1px solid #a9a9a9;
  padding: 1px 4px;
}

input[type="date"], input[type="time"] {
  line-height: 16px;
}

select {
  padding: 2px 0;
}

  input:invalid, textarea:invalid, select:invalid {
    border-color: red;
  }

a {
  text-decoration: none;
  color: #42A6E4;
  font-size: 11px;
  text-decoration: underline;
}

  a:hover {
    color: #0D5267;
    text-decoration: none;
  }

.subtitle {
  color: #0D5267;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

h2 {
  color: #0D5267;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.boxLinha {
}

div.filtro, div.inserir, div.imprimir {
  padding: 8px 0;
  text-align: center;
}

  div.filtro div {
    padding: 2px;
  }

    div.filtro div span, div.imprimir span {
      padding-left: 8px;
    }

      div.filtro div span:first-child, div.filtro div span span, div.imprimir span:first-child, div.imprimir span span {
        padding-left: 0px;
      }

      div.filtro div span.ui-widget span, div.filtro div span.ui-widget div {
        padding: 0px;
        text-align: left;
      }

      div.filtro div span.ui-dropdownchecklist-selector-wrapper, div.filtro div div.ui-dropdownchecklist-dropcontainer-wrapper {
        margin-top: 0px !important;
      }

      div.filtro div span.ui-dropdownchecklist-selector-wrapper {
        position: relative;
        bottom: -5px;
      }

  div.filtro label {
    color: #0066FF;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-right: 0px;
  }

  div.filtro span div.ui-widget {
    padding: 0 1px;
    text-align: left;
  }

    div.filtro span div.ui-widget div {
      padding: 0;
    }

    div.filtro span div.ui-widget label {
      color: #000000 !important;
      position: inherit;
    }

  div.filtro table {
    position: relative;
    top: 7px;
    margin: 0 !important;
  }

  div.filtro .botaoPesquisar {
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
  }

  div.filtro input[type="checkbox"] {
    margin-right: 3px;
    position: relative;
    top: 2px;
  }

p {
  font-weight: bold;
}

.subtitle1 {
  color: #0D5267;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

.dtvTitle {
  background-color: #E9ECF1;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.dtvHeader {
  background-color: #E9ECF1;
  font-weight: bold;
  text-align: left;
}

.dtvFieldBold {
  text-align: left;
  font-weight: bold;
}

.dtvAlternatingRow {
  background-color: #F7F6F3;
  text-align: left;
}

.style4 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
}

.topo {
  background-color: #F6F6F6;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #E2E2E4;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #E2E2E4;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #E2E2E4;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E2E2E4;
}

.textoTopo {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #0D5267;
}

.menu {
  background: #2CADFF url(../Images/menu_back.png) repeat-x top;
}

.itemMenu a {
  display: block;
}

  .itemMenu a:hover {
    color: #fff;
  }

.itemSubMenu a {
  display: block;
}

  .itemSubMenu a:hover {
    color: #fff;
  }

.conteudo {
  background-color: #FFFFFF /*#F6F6F6*/;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #E2E2E4;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #E2E2E4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E2E2E4;
}

.rodape {
  background-color: #F6F6F6;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E2E4;
}

.login {
  background-color: White;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E2E4;
}

.loginCabecalho {
  width: 100%;
  vertical-align: middle;
  background-color: #F6F6F6;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E2E4;
}

.loginParceiros {
  background-color: #F6F6F6;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #E2E2E4;
}

.divLogo {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #E2E2E4;
}

.textoLogo {
  color: #444;
  font-size: 1em;
}

label {
  position: relative;
  bottom: 2px;
  left: 3px;
  padding-right: 1px;
}

fieldset {
  border: 1px solid #E2E2E4;
  margin-bottom: 10px;
}

  fieldset legend {
    color: #0066FF;
  }

.botaoPesquisar {
  border-width: 0px;
  background-color: transparent;
  width: 16px;
  height: 16px;
  background-image: url(../Images/Pesquisar.gif);
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}

section {
  margin-top: 16px;
}

  section:first-child {
    margin: 0;
  }

  section.edicao {
    margin-top: 16px;
  }

  section span {
    padding-left: 8px;
  }

    section span:first-child {
      padding-left: initial;
    }

  div.filtros, section.filtros {
    text-align: center;
  }

    div.filtros > div > span.form-group, section.filtros > div > span.form-group {
      display: inline-block;
    }

    div.filtros span > label, section.filtros span > label {
      color: #0066FF;
      left: 0px;
      right: 0px;
      position: initial;
      margin: 0 3px;
      padding: 0;
    }

    div.filtros span > input[type="checkbox"], section.filtros span > input[type="checkbox"] {
      position: relative;
      top: 3px;
    }

    div.filtros span > input[type="checkbox"] + label, section.filtros span > input[type="checkbox"] + label {
      color: initial;
    }

    div.filtros .botaoPesquisar, section.filtros .botaoPesquisar {
      position: relative;
      top: 2px;
      margin: 0 4px 0 2px;
    }

    div.filtros span, section.filtros span {
      padding-left: initial;
    }

    div.filtros input[type="text"], div.filtros input[type="number"], div.filtros input[type="search"],
    div.filtros input[type="date"], div.filtros input[type="time"], div.filtros input[type="email"],
    div.filtros input[type="password"], div.filtros textarea, div.filtros select,
    section.filtros input[type="text"], section.filtros input[type="number"], section.filtros input[type="search"],
    section.filtros input[type="date"], section.filtros input[type="time"], section.filtros input[type="email"],
    section.filtros input[type="password"], section.filtros textarea, section.filtros select {
      margin: 2px 1px;
    }

  div.detalhes, section.detalhes {
    display: inline-grid;
    grid-gap: 8px 20px;
    grid-template-columns: repeat(6, max-content);
  }

    div.detalhes span, section.detalhes span,
    div.edicao span, section.edicao span {
      padding-left: initial;
    }

    div.detalhes label, section.detalhes label,
    div.edicao label, section.edicao label {
      font-weight: bold;
      position: initial;
    }

    div.detalhes > *, section.detalhes > *,
    div.edicao > *, section.edicao > * {
      text-align: left;
      display: inline-block;
      margin: auto 0;
      vertical-align: middle;
    }

    div.detalhes > .colspan2, section.detalhes > .colspan2,
    div.edicao > .colspan2, section.edicao > .colspan2 {
      grid-column: span 2;
    }

    div.detalhes > .colspan3, section.detalhes > .colspan3,
    div.edicao > .colspan3, section.edicao > .colspan3 {
      grid-column: span 3;
    }

    div.detalhes > .colspan4, section.detalhes > .colspan4,
    div.edicao > .colspan4, section.edicao > .colspan4 {
      grid-column: span 4;
    }

    div.detalhes > .colspan5, section.detalhes > .colspan5 {
      grid-column: span 5;
    }

    div.detalhes > .colspan6, section.detalhes > .colspan6 {
      grid-column: span 6;
      text-align: center;
    }

    div.detalhes *.botoes, section.detalhes *.botoes,
    div.edicao *.botoes, section.edicao *.botoes {
      text-align: center;
      padding-top: 4px;
    }

    div.detalhes *.botoes, section.detalhes *.botoes {
      grid-column: span 6;
    }

    div.detalhes *.edicao, section.edicao *.botoes {
      grid-column: span 4;
    }

    div.detalhes > *:not([class*="botoes"]) button, section.detalhes > *:not([class*="botoes"]) button,
    div.edicao > *:not([class*="botoes"]) button, section.edicao > *:not([class*="botoes"]) button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
    }

  div.edicao, section.edicao {
    display: inline-grid;
    grid-gap: 0px 6px;
    grid-template-columns: repeat(4, max-content);
    align-items: stretch;
  }

    div.edicao *.cabecalho, section.edicao *.cabecalho {
      background-color: #E9ECF1;
      margin: 0;
      padding: 0 3px;
      display: inline-grid;
    }

      div.edicao *.cabecalho > *, section.edicao *.cabecalho > * {
        margin: auto 0;
      }

    div.edicao input[type="checkbox"] + label, section.edicao input[type="checkbox"] + label {
      background-color: transparent;
      font-weight: normal;
    }

div.links > div, section.links > div {
  padding-top: 8px;
}

  div.links > div:first-child, section.links > div:first-child {
    padding-top: initial;
  }
