#container {
  margin: 10px auto;
}

.gridStyle {
  background-color: #fff;
  margin: 5px 0 10px 0;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  border-collapse: collapse;
}

  .gridStyle tr {
    border-top: solid #ddd 1px;
  }

  .gridStyle td .gridStyle {
    margin: 8px 0;
  }

    .gridStyle td .gridStyle thead tr:first-child {
      border-top: none;
    }

  /*.gridStyle tr:first-child { border-top: none; }*/
  .gridStyle td {
    padding: 3px 6px;
    color: #555;
    border-style: none;
    height: 20px;
    *height: auto;
  }

  .gridStyle th {
    padding: 3px 6px;
    color: #555;
    font-size: 1em;
    background: #e7e7e7 url(../Images/grd_head_menor.png) repeat-x bottom;
    text-decoration: none;
    height: 20px;
  }

    .gridStyle th a {
      color: #555;
      font-size: 1em;
      text-decoration: none;
      font-weight: bold;
    }

  .gridStyle a {
    color: #555;
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
  }

    .gridStyle a:hover {
      color: #999;
      text-decoration: underline;
      font-weight: bold;
    }

  .gridStyle .header {
    color: #555;
    font-size: 1em;
  }

  .gridStyle .footer {
    background-color: #fff;
    color: #555;
    font-size: 1.05em;
    text-align: center;
  }

  .gridStyle .alt {
    background: #F9F9F9;
  }

  .gridStyle .edit {
    background: #fff;
  }

  .gridStyle .pgr {
    background: #e7e7e7 url(../Images/grd_pgr_menor.png) repeat-x bottom;
    text-align: center;
  }

    .gridStyle .pgr td {
      height: auto;
    }

    .gridStyle .pgr table {
      margin: 1px;
      text-align: center;
    }

      .gridStyle .pgr table td {
        padding: 0 6px 1px 8px;
        border-left: solid 1px #444;
        font-weight: bold;
        color: #aaa;
        line-height: 8px;
        text-align: center;
      }

        .gridStyle .pgr table td:first-child {
          border-left: none;
        }

    .gridStyle .pgr a, .gridStyle .pgr span {
      text-decoration: none;
      font-size: 0.9em;
      text-align: center;
    }

    .gridStyle .pgr a {
      color: #555;
    }

      .gridStyle .pgr a:hover {
        color: #999;
        text-decoration: underline;
        text-align: center;
      }

  .gridStyle table {
    background: none;
    margin: 0px;
    margin-top: 4px;
    border-style: none;
    display: inline-table;
    text-align: left;
  }

    .gridStyle table tr {
      border-bottom: none;
    }

    .gridStyle table th {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
    }

    .gridStyle table td {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
      height: 20px;
    }

    .gridStyle table .alt {
      background: none;
    }

  .gridStyle .pos {
    background: none;
    margin: 0px;
    margin-top: 0px;
    border-style: none;
    display: inline-table;
    text-align: left;
  }

    .gridStyle .pos tr {
      border-bottom: none;
    }

    .gridStyle .pos th {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
      height: auto !important;
    }

    .gridStyle .pos td {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
      padding: 0 2px;
      height: auto !important;
    }

    .gridStyle .pos .alt {
      background: none;
    }

.detailsViewStyle {
  width: auto;
  border: none;
  text-align: center;
}

  .detailsViewStyle td {
    color: black;
    height: auto !important;
  }

  .detailsViewStyle th {
    height: auto !important;
  }

  .detailsViewStyle tr {
    border: none;
  }

  .detailsViewStyle .espaco td {
    padding: 2px 6px;
  }

.gridStyleDestacada {
  background-color: #fff;
  margin: 5px 0 10px 0;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
}

  .gridStyleDestacada tr {
    border-bottom: solid #ddd 1px;
  }

  .gridStyleDestacada td {
    padding: 3px;
    color: red;
    border-style: none;
  }

  .gridStyleDestacada th {
    padding: 4px;
    color: #555;
    font-size: 1em;
    background: #e7e7e7 url(../Images/grd_head_menor.png) repeat-x bottom;
    text-decoration: none;
    height: 20px;
  }

    .gridStyleDestacada th a {
      color: #555;
      font-size: 1em;
      text-decoration: none;
      font-weight: bold;
    }

  .gridStyleDestacada a {
    color: #555;
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
  }

    .gridStyleDestacada a:hover {
      color: #999;
      text-decoration: underline;
      font-weight: bold;
    }

  .gridStyleDestacada .header {
    color: #555;
    font-size: 1em;
  }

  .gridStyleDestacada .footer {
    background-color: #fff;
    color: #555;
    font-size: 1.05em;
    text-align: center;
  }

  .gridStyleDestacada .alt {
    background: #F9F9F9;
  }

  .gridStyleDestacada .edit {
    background: #fff;
  }

  .gridStyleDestacada .pgr {
    background: #e7e7e7 url(../Images/grd_pgr_menor.png) repeat-x bottom;
    text-align: center;
  }

    .gridStyleDestacada .pgr table {
      margin: 1px;
      text-align: center;
    }

      .gridStyleDestacada .pgr table td {
        padding: 0 6px;
        border-left: solid 1px #444;
        font-weight: bold;
        color: #fff;
        line-height: 8px;
        text-align: center;
      }

    .gridStyleDestacada .pgr a {
      color: #555;
      text-decoration: none;
      font-size: 0.9em;
      text-align: center;
    }

      .gridStyleDestacada .pgr a:hover {
        color: #999;
        text-decoration: underline;
        text-align: center;
      }

  .gridStyleDestacada table {
    background: none;
    margin: 0px;
    margin-top: 4px;
    border-style: none;
    display: inline-table;
    text-align: left;
  }

    .gridStyleDestacada table tr {
      border-bottom: none;
    }

    .gridStyleDestacada table th {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
    }

    .gridStyleDestacada table td {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
    }

    .gridStyleDestacada table .alt {
      background: none;
    }

  .gridStyleDestacada .pos {
    background: none;
    margin: 0px;
    margin-top: 0px;
    border-style: none;
    display: inline-table;
    text-align: left;
  }

    .gridStyleDestacada .pos tr {
      border-bottom: none;
    }

    .gridStyleDestacada .pos th {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
    }

    .gridStyleDestacada .pos td {
      background: none;
      margin: 0px;
      border-style: none;
      vertical-align: middle;
      padding: 0px;
    }

    .gridStyleDestacada .pos .alt {
      background: none;
    }

.gridStyle button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
