<section class="filtros">
    <div>
        <span>
            <select v-model.boolean="buscaCpf" @change="limparFiltro">
                <option :value="true">CPF</option>
                <option :value="false">CNPJ</option>
            </select>
            <campo-cpf :cpf.sync="filtroAtual.cpfCnpj" v-if="buscaCpf"></campo-cpf>
            <campo-cnpj :cnpj.sync="filtroAtual.cpfCnpj" v-if="!buscaCpf"></campo-cnpj>
            <button class="botaoPesquisar" @click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
</section>