<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Glass.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Glass.Data.Properties.Settings>
            <setting name="Glass_Data_wsMGHRecepcao_NfeRecepcao2" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeRecepcao2</value>
            </setting>
            <setting name="Glass_Data_wsMGHRetRecepcao_NfeRetRecepcao2" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeRetRecepcao2</value>
            </setting>
            <setting name="Glass_Data_wsMGHCancelamento_NfeCancelamento2"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeCancelamento2</value>
            </setting>
            <setting name="Glass_Data_wsMGHInutilizacao_NfeInutilizacao2"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeInutilizacao2</value>
            </setting>
            <setting name="Glass_Data_wsMGHConsulta_NfeConsulta2" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeConsulta2</value>
            </setting>
            <setting name="Glass_Data_wsMGHStatus_NfeStatusServico2" serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeStatusServico2</value>
            </setting>
            <setting name="Glass_Data_wsPRSConsultaProtocolo_NfeConsulta2"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPRSStatusServico_NfeStatusServico2"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="Glass_Data_SMSManager_WSManager" serializeAs="String">
                <value>http://webservice.comunika.com.br:80/WSComunika/WSManager</value>
            </setting>
            <setting name="Glass_Data_SMSSend_WSSend" serializeAs="String">
                <value>http://webservice.comunika.com.br:80/WSComunika/WSSend</value>
            </setting>
            <setting name="Glass_Data_wsPMGRecepcao1_CteRecepcao" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsPMGCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteRetRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsPMGCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/RecepcaoEvento</value>
            </setting>
            <setting name="Glass_Data_wsPMGCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteInutilizacao</value>
            </setting>
            <setting name="Glass_Data_wsPMGCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteConsulta</value>
            </setting>
            <setting name="Glass_Data_wsPMGCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://cte.fazenda.mg.gov.br/cte/services/CteStatusServico</value>
            </setting>
            <setting name="Glass_Data_wsPMTCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsPMTCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteRetRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsPMTCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://homologacao.sefaz.mt.gov.br/ctews2/services/CteRecepcaoEvento</value>
            </setting>
            <setting name="Glass_Data_wsPMTCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteInutilizacao</value>
            </setting>
            <setting name="Glass_Data_wsPMTCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteConsulta</value>
            </setting>
            <setting name="Glass_Data_wsPMTCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://cte.sefaz.mt.gov.br/ctews/services/CteStatusServico</value>
            </setting>
            <setting name="Glass_Data_wsPMSCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPMSCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPMSCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteRecepcaoEvento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPMSCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteInutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPMSCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPMSCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPMSCTeConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://producao.cte.ms.gov.br/cteWEB/CadConsultaCadastro.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPPRCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsPPRCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteRetRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsPPRCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteRecepcaoEvento</value>
            </setting>
            <setting name="Glass_Data_wsPPRCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteInutilizacao</value>
            </setting>
            <setting name="Glass_Data_wsPPRCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteConsulta</value>
            </setting>
            <setting name="Glass_Data_wsPPRCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://cte.fazenda.pr.gov.br/cte/CteStatusServico</value>
            </setting>
            <setting name="Glass_Data_wsPRSCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPRSCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteretrecepcao/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPRSCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPRSCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteconsulta/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPRSCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://cte.sefaz.rs.gov.br/ws/ctestatusservico/ctestatusservico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSPCTerecepcao_CteRecepcao" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSPCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSPCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteweb/services/cteRecepcaoEvento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSPCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteInutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSPCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSPCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/cteWEB/services/cteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_63__CteRecepcao" serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMSCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMSCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CteCancelamento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMSCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CteInutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMSCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMSCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMSCTeConsultaCadastro_CadConsultaCadastro"
                serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CadConsultaCadastro.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMGCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://hcte.fazenda.mg.gov.br/cte/services/CteRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsHMGCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://hcte.fazenda.mg.gov.br/cte/services/CteRetRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsHMGCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://hcte.fazenda.mg.gov.br/cte/services/CteCancelamento</value>
            </setting>
            <setting name="Glass_Data_wsHMGCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://hcte.fazenda.mg.gov.br/cte/services/CteInutilizacao</value>
            </setting>
            <setting name="Glass_Data_wsHMGCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://hcte.fazenda.mg.gov.br/cte/services/CteConsulta</value>
            </setting>
            <setting name="Glass_Data_wsHMGCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://hcte.fazenda.mg.gov.br/cte/services/CteStatusServico</value>
            </setting>
            <setting name="Glass_Data_wsHPRCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsHPRCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteRetRecepcao</value>
            </setting>
            <setting name="Glass_Data_wsHPRCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteCancelamento</value>
            </setting>
            <setting name="Glass_Data_wsHPRCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteInutilizacao</value>
            </setting>
            <setting name="Glass_Data_wsHPRCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteConsulta</value>
            </setting>
            <setting name="Glass_Data_wsHPRCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://homologacao.cte.fazenda.pr.gov.br/cte/CteStatusServico</value>
            </setting>
            <setting name="Glass_Data_wsHRSCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHRSCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cteretrecepcao/CteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHRSCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/ctecancelamento/ctecancelamento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHRSCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHRSCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/cteconsulta/cteconsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHRSCteStatus_CteStatusServico" serializeAs="String">
                <value>https://homologacao.cte.sefaz.rs.gov.br/ws/ctestatusservico/ctestatusservico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSPCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSPCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSPCTeCancelamento_CteCancelamento"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteCancelamento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSPCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteInutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSPCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSPCTeStatus_CteStatusServico" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/cteWEB/services/cteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHMSCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://homologacao.cte.ms.gov.br/cteWEB/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_WebGlass_WebService_ImpostoTotal_ImpostoTotal"
                serializeAs="String">
                <value>http://webservices.webglass.com.br/ImpostoTotal.asmx</value>
            </setting>
            <setting name="Glass_Data_WebGlass_WebService_CargaTributariaMedia_CargaTributariaMedia"
                serializeAs="String">
                <value>http://webservices.webglass.com.br/CargaTributariaMedia.asmx</value>
            </setting>
            <setting name="Glass_Data_WebGlass_WebService_MargemLucro_MargemLucro"
                serializeAs="String">
                <value>http://webservices.webglass.com.br/MargemLucro.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVCANRecepcao_NfeRecepcao2" serializeAs="String">
                <value>https://www.svc.fazenda.gov.br/NfeRecepcao2/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsSVCANRetRecepcao_NfeRetRecepcao2"
                serializeAs="String">
                <value>https://www.svc.fazenda.gov.br/NfeRetRecepcao2/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsSVCANRecepcaoEvento_RecepcaoEvento"
                serializeAs="String">
                <value>https://www.svc.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSVRSCancelamento_CteRecepcaoEvento"
                serializeAs="String">
                <value>https://cte-homologacao.svrs.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcao_CteRecepcao" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRetRecepcao_CteRetRecepcao"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteretrecepcao/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeConsulta_CteConsulta" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteconsulta/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeInutilizacao_CteInutilizacao"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeStatusServico_CteStatusServico"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/ctestatusservico/CteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcaoEvento_CteRecepcaoEvento"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSConsultaCadastro_CadConsultaCadastro21"
                serializeAs="String">
                <value>https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcao_CteRecepcao1" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRetRecepcao_CteRetRecepcao1"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteretrecepcao/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeConsulta_CteConsulta1" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteconsulta/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeInutilizacao_CteInutilizacao1"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeStatusServico_CteStatusServico1"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/ctestatusservico/CteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcaoEvento_CteRecepcaoEvento1"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSConsultaCadastro_CadConsultaCadastro22"
                serializeAs="String">
                <value>https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcao_CteRecepcao2" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRetRecepcao_CteRetRecepcao2"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteretrecepcao/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeConsulta_CteConsulta2" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteconsulta/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeInutilizacao_CteInutilizacao2"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeStatusServico_CteStatusServico2"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/ctestatusservico/CteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcaoEvento_CteRecepcaoEvento2"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSConsultaCadastro_CadConsultaCadastro23"
                serializeAs="String">
                <value>https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcao_CteRecepcao3" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRetRecepcao_CteRetRecepcao3"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteretrecepcao/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeConsulta_CteConsulta3" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteconsulta/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeInutilizacao_CteInutilizacao3"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeStatusServico_CteStatusServico3"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/ctestatusservico/CteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcaoEvento_CteRecepcaoEvento3"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSConsultaCadastro_CadConsultaCadastro24"
                serializeAs="String">
                <value>https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcao_CteRecepcao4" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcao/CteRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRetRecepcao_CteRetRecepcao4"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteretrecepcao/cteRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeConsulta_CteConsulta4" serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteconsulta/CteConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeInutilizacao_CteInutilizacao4"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cteinutilizacao/cteinutilizacao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeStatusServico_CteStatusServico4"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/ctestatusservico/CteStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSCTeRecepcaoEvento_CteRecepcaoEvento4"
                serializeAs="String">
                <value>https://cte.svrs.rs.gov.br/ws/cterecepcaoevento/cterecepcaoevento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPRSInutilizacao_NfeInutilizacao21"
                serializeAs="String">
                <value>https://nfe.sefazrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPRSRecepcaoEvento_RecepcaoEvento1"
                serializeAs="String">
                <value>https://nfe.sefazrs.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHAMNFCCSC_CscNFCe" serializeAs="String">
                <value>https://homnfce.sefaz.am.gov.br/nfce-services/services/CscNFCe</value>
            </setting>
            <setting name="Glass_Data_br_gov_rs_svrs_mdfe_MDFeRecepcao" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFerecepcao/MDFeRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSMDFeRetRecepcao_MDFeRetRecepcao"
                serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeRetRecepcao/MDFeRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSMDFeRecepcaoEvento_MDFeRecepcaoEvento"
                serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeRecepcaoEvento/MDFeRecepcaoEvento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSMDFeConsulta_MDFeConsulta" serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSMDFeStatusServico_MDFeStatusServico"
                serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeStatusServico/MDFeStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPSVRSMDFeConsultaNaoEncerrado_MDFeConsNaoEnc"
                serializeAs="String">
                <value>https://mdfe.svrs.rs.gov.br/ws/MDFeConsNaoEnc/MDFeConsNaoEnc.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSVRSMDFeRecepcao_MDFeRecepcao" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFerecepcao/MDFeRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSVRSMDFeRetornoRecepcao_MDFeRetRecepcao"
                serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeRetRecepcao/MDFeRetRecepcao.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSVRSMDFeRecepcaoEvento_MDFeRecepcaoEvento"
                serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeRecepcaoEvento/MDFeRecepcaoEvento.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSVRSMDFeConsulta_MDFeConsulta" serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeConsulta/MDFeConsulta.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSVRSMDFeStatusServico_MDFeStatusServico"
                serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeStatusServico/MDFeStatusServico.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHSVRSMDFeConsultaNaoEncerrado_MDFeConsNaoEnc"
                serializeAs="String">
                <value>https://mdfe-homologacao.svrs.rs.gov.br/ws/MDFeConsNaoEnc/MDFeConsNaoEnc.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPConsultaCadastro_CadConsultaCadastro4"
                serializeAs="String">
                <value>https://cad.svrs.rs.gov.br/ws/cadconsultacadastro/cadconsultacadastro4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHConsultaCadastro_CadConsultaCadastro4"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/cadconsultacadastro4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFCeAutorizacao_NFeAutorizacao4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFCeConsultaProtocolo_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFCeInutilizacao_NFeInutilizacao4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFCeRecepcaoEvento_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFCeRetAutorizacao_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFCeStatusServico_NFeStatusServico4"
                serializeAs="String">
                <value>https://nfce-homologacao.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFeAutorizacao_NFeAutorizacao4"
                serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFeConsultaProtocolo_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFeInutilizacao_NFeInutilizacao4"
                serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFeRecepcaoEvento_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFeRetAutorizacao_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsHNFeStatusServico_NFeStatusServico4"
                serializeAs="String">
                <value>https://nfe-homologacao.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFCeAutorizacao_NFeAutorizacao4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFCeConsultaProtocolo_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFCeInutilizacao_NFeInutilizacao4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFCeRecepcaoEvento_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFCeRetAutorizacao_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFCeStatusServico_NFeStatusServico4"
                serializeAs="String">
                <value>https://nfce.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFeAutorizacao_NFeAutorizacao4"
                serializeAs="String">
                <value>https://nfe.svrs.rs.gov.br/ws/NfeAutorizacao/NFeAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFeConsultaProtocolo_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://nfe.svrs.rs.gov.br/ws/NfeConsulta/NfeConsulta4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFeInutilizacao_NFeInutilizacao4"
                serializeAs="String">
                <value>https://nfe.svrs.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFeRecepcaoEvento_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://nfe.svrs.rs.gov.br/ws/recepcaoevento/recepcaoevento4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFeRetAutorizacao_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://nfe.svrs.rs.gov.br/ws/NfeRetAutorizacao/NFeRetAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFeStatusServico_NFeStatusServico4"
                serializeAs="String">
                <value>https://nfe.svrs.rs.gov.br/ws/NfeStatusServico/NfeStatusServico4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsPNFeConsultaCadastro2_CadConsultaCadastro2"
                serializeAs="String">
                <value>https://nfe.sefaz.pe.gov.br/nfe-service/services/CadConsultaCadastro2</value>
            </setting>
            <setting name="Glass_Data_wsNFeSVANAutorizacao_NFeAutorizacao4"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeAutorizacao4/NFeAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsNFeSVANConsultaProtocolo_NFeConsultaProtocolo4"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeConsultaProtocolo4/NFeConsultaProtocolo4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsNFeSVANInutilizacao_NFeInutilizacao4"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeInutilizacao4/NFeInutilizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsNFeSVANRecepcaoEvento_NFeRecepcaoEvento4"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeRecepcaoEvento4/NFeRecepcaoEvento4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsNFeSVANRetAutorizacao_NFeRetAutorizacao4"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeRetAutorizacao4/NFeRetAutorizacao4.asmx</value>
            </setting>
            <setting name="Glass_Data_wsNFeSVANStatusServico_NFeStatusServico4"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeStatusServico4/NFeStatusServico4.asmx</value>
            </setting>
        </Glass.Data.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.11.0" newVersion="6.9.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Management" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CalcEngine.Dxf" publicKeyToken="e50c636cf6466c78" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CalcEngine" publicKeyToken="338adf0247ea9d68" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.40.40" newVersion="1.8.40.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Colosoft.Core" publicKeyToken="d3b3c440aed9b980" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
