<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CADProject.Remote.Client" version="1.0.3" targetFramework="net40" />
  <package id="CalcEngine" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.Biesse" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.Drawing" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.Dxf" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.Forvet" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.Optima" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.SGlass" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.Text" version="1.7.2.232" targetFramework="net40" />
  <package id="Colosoft.Business" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.CommonServiceLocator" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Core" version="1.0.0.272" targetFramework="net40" />
  <package id="Colosoft.Data" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Data.Schema" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.GDA" version="1.4.5.14925" targetFramework="net40" />
  <package id="Colosoft.Net" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Query" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Text" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Validation" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.WebControls" version="1.0.0" targetFramework="net40" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.3.500" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.11" targetFramework="net40" />
  <package id="MySqlBackup.NET" version="2.0.9.3" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" />
  <package id="NReco.PdfGenerator" version="1.1.12.0" targetFramework="net40" />
  <package id="PDFsharp" version="1.50.4000-beta3b" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>