<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colosoft.Business" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.CommonServiceLocator" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Core" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Data" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.GDA" version="1.4.5.14925" targetFramework="net40" />
  <package id="Colosoft.Query" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Text" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Validation" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Web" version="1.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net40" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net40" />
  <package id="Select.HtmlToPdf" version="17.1.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>