<?xml version="1.0"?>
<appSettings>
	<add key="consultaCep" value="1d17d99658a08b01647d890d71c509bb" />
    <add key="sistema" value="bluehouse" />
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;" />
    <add key="aspnet:MaxHttpCollectionKeys" value="50000" />
    <add key="GravarLogAberturaRelatorio" value="true" />
    <add key="ExportarInfoEtiquetaOptyWay" value="true" />
    <add key="AmbienteTeste" value="true" />
    <add key="UrlCadProject" value="http://cadproject.webglass.com.br" />
    <add key="CaminhoSalvarFML" value="D:\Projetos\WebGlass\trunk\Desenvolvimento\Glass\Upload\ArquivoFMLGerado\" />
    <add key="CaminhoSalvarDXF" value="D:\Projetos\WebGlass\trunk\Desenvolvimento\Glass\Upload\ArquivoDXFGerado\" />
    <add key="CapptaAuthKey" value="795180024C04479982560F61B3C2C06E" />
    <add key="TempoTimeOut" value="20" />
    <!--<add key="CapptaAuthKey" value="DB47AAA763E74032A771C35FA88277F8" /> produção -->
</appSettings>