<?xml version="1.0"?>
<GDA>
  <DefaultProvider name="WebGlass" />
  <Debug trace="true" />
  <ProvidersConfiguration>
    <!--<Info name="WebGlass" providerName="MySql" connectionstring="Data Source=192.168.25.58;Initial Catalog=arcuare;UId=desenv;Pwd=glass$ync;Min Pool Size=5;Max Pool Size=60;Connect Timeout=60;Allow User Variables=True"/>-->
    <Info name="WebGlass" providerName="MySql" connectionstring="Data Source=192.168.25.58;Initial Catalog=bancomodelo_diego;UId=desenv;Pwd=glass$ync;Min Pool Size=5;Max Pool Size=60;Connect Timeout=60;Allow User Variables=True" />
  </ProvidersConfiguration>
  <Providers>
    <Provider name="MySql" classNamespace="GDA.Provider.MySql" assembly="GDA.Provider.MySql" />
  </Providers>
</GDA>
