<?xml version="1.0"?>
<mef.configuration>
  <parts>
    <part type="Glass.Global.Negocios.Componentes.FuncionarioFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IFuncionarioFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IProvedorFuncionario, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorDepartamento, Glass.Negocios.Entidades" />
      </exports>
    </part>
    
    <part type="Glass.Financeiro.Negocios.Componentes.PlanoContasFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IPlanoContasFluxo, Glass.Negocios" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IValidadorPlanoContas, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Instalacao.Negocios.Componentes.InstalacaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Instalacao.Negocios.IInstalacaoFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.DataFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.IProvedorFeriados, Glass.Comum" />
        <export contractType="Glass.Global.Negocios.IDataFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.CfopFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.ICfopFluxo, Glass.Negocios" />
        <export contractType="Glass.Fiscal.Negocios.Entidades.IValidadorNaturezaOperacao, Glass.Negocios.Entidades" />
      </exports>
      <importingConstructor useFirst="true" />
    </part>

    <part type="Glass.Negocios.Componentes.ControleAlteracao, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Negocios.IControleAlteracao, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.ClienteFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IClienteFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IDescricaoDescontoAcrescimoCliente, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorTipoCliente, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorTabelaDescontoAcrescimoCliente, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorCliente, Glass.Negocios.Entidades" />
       <export contractType="Glass.Global.Negocios.Entidades.IProvedorDescontoAcrescimoCliente, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.SetorFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.ISetorFluxo, Glass.Negocios" />
        <export contractType="Glass.PCP.Negocios.Entidades.IProvedorSetor, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.RelatorioDinamicoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IRelatorioDinamicoFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.MenuFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <exports>
        <export contractType="Glass.Global.Negocios.IMenuFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IProvedorConfigMenuFunc, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IProvedorConfigFuncaoFunc, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IProvedorConfigMenuTipoFunc, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IProvedorConfigFuncaoTipoFunc, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Financeiro.Negocios.Componentes.CartaoNaoIdentificadoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.ICartaoNaoIdentificadoFluxo, Glass.Negocios" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IProvedorCartaoNaoIdentificado, Glass.Negocios.Entidades" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IValidadorCartaoNaoIdentificado, Glass.Negocios.Entidades" />      
      </exports>
    </part>

    <part type="Glass.Financeiro.Negocios.Componentes.ArquivoCartaoNaoIdentificadoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IArquivoCartaoNaoIdentificadoFluxo, Glass.Negocios" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IProvedorArquivoCartaoNaoIdentificado, Glass.Negocios.Entidades" />
      </exports>
    </part>
    
    <part type="Glass.Financeiro.Negocios.Componentes.ParcelasFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IParcelasFluxo, Glass.Negocios" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IValidadorParcelas, Glass.Negocios.Entidades" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IProvedorParcelasNaoUsar, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.FuncaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IFuncaoFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.EtiquetaFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IEtiquetaFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorEtiquetaProcesso, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorEtiquetaAplicacao, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.GrupoProdutoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IGrupoProdutoFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorGrupoProd, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorSubgrupoProd, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.FornecedorFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IFornecedorFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorFornecedor, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.ClassificacaoRoteiroProducaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.IClassificacaoRoteiroProducaoFluxo, Glass.Negocios" />
        <export contractType="Glass.PCP.Negocios.Entidades.IValidadorClassificacaoRoteiroProducao, Glass.Negocios.Entidades" />
      </exports>
    </part>
    
  <part type="Glass.PCP.Negocios.Componentes.CapacidadeProducaoDiariaClassificacaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.ICapacidadeProducaoDiariaClassificacaoFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.VeiculoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IVeiculoFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorVeiculo, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.LocalizacaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.ILocalizacaoFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.UnidadesFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IUnidadesFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorUnidadeMedida, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.ProdutoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IProdutoFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IProdutoBeneficiamentosRepositorio, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorProduto, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorCorVidro, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorCorAluminio, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorCorFerragem, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.MesaCorteFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.IMesaCorteFluxo, Glass.Negocios" />
      </exports>
    </part>
    
    <part type="Glass.Fiscal.Negocios.Componentes.NotaFiscalFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.INotaFiscalFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Estoque.Negocios.Componentes.BaixaEstoqueFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Estoque.Negocios.Entidades.IProdutoBaixaEstoqueRepositorio, Glass.Negocios.Entidades" />
        <export contractType="Glass.Estoque.Negocios.Entidades.IProvedorProdutoBaixaEstoque, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.LojaFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.ILojaFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorLoja, Glass.Negocios.Entidades" />
      </exports>
    </part>
  
    <part type="Glass.Global.Negocios.Componentes.TransportadorFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.ITransportadorFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorTransportador, Glass.Negocios.Entidades" />
      </exports>
    </part>
  
    <part type="Glass.Global.Negocios.Componentes.CoresFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.ICoresFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.PerdaFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.IPerdaFluxo, Glass.Negocios" />
        <export contractType="Glass.PCP.Negocios.Entidades.IValidadorTipoPerda, Glass.Negocios.Entidades" />
        <export contractType="Glass.PCP.Negocios.Entidades.IValidadorSubtipoPerda, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.OrigemTrocaDescontoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IOrigemTrocaDescontoFluxo, Glass.Negocios" />
      <export contractType="Glass.Global.Negocios.Entidades.IValidadorOrigemTrocaDesconto, Glass.Negocios.Entidades" />
      </exports>
    </part>
  
    <part type="Glass.Global.Negocios.Componentes.TurnoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.ITurnoFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorTurno, Glass.Negocios.Entidades" />
      </exports>
    </part>
  
    <part type="Glass.Financeiro.Negocios.Componentes.ContaBancariaFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IContaBancariaFluxo, Glass.Negocios" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IValidadorContaBanco, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.CTeFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.ICTeFluxo, Glass.Negocios" />
        <export contractType="Glass.Fiscal.Negocios.Entidades.Cte.IValidadorChaveAcesso, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.SugestaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.ISugestaoFluxo, Glass.Negocios" />
      </exports>
    </part>
  
    <part type="Glass.Global.Negocios.Componentes.ComissionadoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IComissionadoFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorComissionado, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Financeiro.Negocios.Componentes.ParcelasFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IParcelasFluxo, Glass.Negocios" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IValidadorParcelas, Glass.Negocios.Entidades" />
        <export contractType="Glass.Financeiro.Negocios.Entidades.IProvedorParcelasNaoUsar, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.RotaFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IRotaFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorRota, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorRotaCliente, Glass.Negocios.Entidades" />
        <export contractType="Glass.Global.Negocios.Entidades.IProvedorRota, Glass.Negocios.Entidades" />
      </exports>
    </part>
  
    <part type="Glass.Global.Negocios.Componentes.BeneficiamentoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IBeneficiamentoFluxo, Glass.Negocios" />
        <export contractType="Glass.Global.Negocios.Entidades.IValidadorBenefConfig, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.CentroCustoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.ICentroCustoFluxo, Glass.Negocios" />
      </exports>
    </part>
  
    <part type="Glass.Negocios.Componentes.ObtemDescritorEntidade, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Negocios.Entidades.IObtemDescritor, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.DetalhesReposicaoPeca, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.IDetalhesReposicaoPeca, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.MensagemFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IMensagemFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Estoque.Negocios.Componentes.MovChapaFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Estoque.Negocios.IMovChapaFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Financeiro.Negocios.Componentes.GConFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IGConFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Financeiro.Negocios.Componentes.ProsoftFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IProsoftFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.DetalhamentoDebitosPisCofinsFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.IDetalhamentoDebitosPisCofinsFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.ExpedicaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.IExpedicaoFluxo, Glass.Negocios" />
        <export contractType="Glass.PCP.Negocios.Entidades.IProvedorExpBalcao, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="WebGlass.Business.OrdemCarga.Fluxo.VolumeFluxo, WebGlass.Business">
      <exports>
        <export contractType="Glass.PCP.Negocios.IVolumeFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="WebGlass.Business.Pedido.Fluxo.AlterarEstoque, WebGlass.Business">
      <exports>
        <export contractType="Glass.Estoque.Negocios.IProvedorBaixaEstoque, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.FormaPagtoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.Entidades.IProvedorFormaPagtoCliente, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Projeto.Negocios.Componentes.FlagArqMesaFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Projeto.Negocios.IFlagArqMesaFluxo, Glass.Negocios" />
        <export contractType="Glass.Projeto.Negocios.Entidades.IValidadorFlagArqMesa, Glass.Negocios.Entidades" />
      </exports>
    </part>
    
  <part type="Glass.Estoque.Negocios.Componentes.MovInternaEstoqueFiscalFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Estoque.Negocios.IMovInternaEstoqueFiscalFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.CestFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.ICestFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Financeiro.Negocios.Componentes.DominioFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Financeiro.Negocios.IDominioFluxo, Glass.Negocios" />
      </exports>
    </part>
    
   <part type="Glass.PCP.Negocios.Componentes.CavaleteFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.ICavaleteFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.OtimizacaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.PCP.Negocios.IOtimizacaoFluxo, Glass.Negocios" />
      </exports>
    </part>
    
  </parts>
</mef.configuration>