<?xml version="1.0" encoding="utf-8"?>
<mef.configuration>
  <parts>
    <part type="Glass.Global.Negocios.Componentes.FuncionarioFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IFuncionarioFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorFuncionario, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorDepartamento, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.PlanoContasFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IPlanoContasFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IValidadorPlanoContas, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IProvedorPlanoContas, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Instalacao.Negocios.Componentes.InstalacaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Instalacao.Negocios.IInstalacaoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.DataFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.IProvedorFeriados, Glass.Comum" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.IDataFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Fiscal.Negocios.Componentes.CfopFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="" contractType="Glass.Fiscal.Negocios.ICfopFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Fiscal.Negocios.Entidades.IValidadorNaturezaOperacao, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Negocios.Componentes.ControleAlteracao, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Negocios.IControleAlteracao, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.ClienteFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IClienteFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IDescricaoDescontoAcrescimoCliente, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorTipoCliente, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorTabelaDescontoAcrescimoCliente, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorCliente, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorDescontoAcrescimoCliente, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.SetorFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.ISetorFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.PCP.Negocios.Entidades.IProvedorSetor, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.RelatorioDinamicoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IRelatorioDinamicoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.MenuFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IMenuFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorConfigMenuFunc, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorConfigFuncaoFunc, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorConfigMenuTipoFunc, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorConfigFuncaoTipoFunc, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.CartaoNaoIdentificadoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.ICartaoNaoIdentificadoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IProvedorCartaoNaoIdentificado, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IValidadorCartaoNaoIdentificado, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.ArquivoCartaoNaoIdentificadoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IArquivoCartaoNaoIdentificadoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IProvedorArquivoCartaoNaoIdentificado, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.ParcelasFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IParcelasFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IValidadorParcelas, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IProvedorParcelasNaoUsar, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.FuncaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IFuncaoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.EtiquetaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IEtiquetaFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorEtiquetaProcesso, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorEtiquetaAplicacao, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.GrupoProdutoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IGrupoProdutoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorGrupoProd, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorSubgrupoProd, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.FornecedorFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IFornecedorFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorFornecedor, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.ClassificacaoRoteiroProducaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.IClassificacaoRoteiroProducaoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.PCP.Negocios.Entidades.IValidadorClassificacaoRoteiroProducao, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.CapacidadeProducaoDiariaClassificacaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.ICapacidadeProducaoDiariaClassificacaoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.VeiculoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IVeiculoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorVeiculo, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.LocalizacaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.ILocalizacaoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.UnidadesFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IUnidadesFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorUnidadeMedida, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.ProdutoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IProdutoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProdutoBeneficiamentosRepositorio, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorProduto, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorCorVidro, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorCorAluminio, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorCorFerragem, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorProdutos, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.MesaCorteFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.IMesaCorteFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Fiscal.Negocios.Componentes.NotaFiscalFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Fiscal.Negocios.INotaFiscalFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Estoque.Negocios.Componentes.BaixaEstoqueFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Estoque.Negocios.Entidades.IProdutoBaixaEstoqueRepositorio, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Estoque.Negocios.Entidades.IProvedorProdutoBaixaEstoque, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.LojaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.ILojaFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorLoja, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.TransportadorFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.ITransportadorFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorTransportador, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.CoresFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.ICoresFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.PerdaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.IPerdaFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.PCP.Negocios.Entidades.IValidadorTipoPerda, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.PCP.Negocios.Entidades.IValidadorSubtipoPerda, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.OrigemTrocaDescontoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IOrigemTrocaDescontoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorOrigemTrocaDesconto, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.TurnoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.ITurnoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorTurno, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.ContaBancariaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IContaBancariaFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IValidadorContaBanco, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Fiscal.Negocios.Componentes.CTeFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Fiscal.Negocios.ICTeFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Fiscal.Negocios.Entidades.Cte.IValidadorChaveAcesso, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.SugestaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.ISugestaoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.ComissionadoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IComissionadoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorComissionado, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.RotaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IRotaFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorRota, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorRotaCliente, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorRota, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.BeneficiamentoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IBeneficiamentoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IValidadorBenefConfig, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Fiscal.Negocios.Componentes.CentroCustoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Fiscal.Negocios.ICentroCustoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Negocios.Componentes.ObtemDescritorEntidade, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Negocios.Entidades.IObtemDescritor, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.DetalhesReposicaoPeca, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.IDetalhesReposicaoPeca, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.MensagemFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.IMensagemFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Estoque.Negocios.Componentes.MovChapaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Estoque.Negocios.IMovChapaFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.GConFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IGConFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.ProsoftFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IProsoftFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Fiscal.Negocios.Componentes.DetalhamentoDebitosPisCofinsFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Fiscal.Negocios.IDetalhamentoDebitosPisCofinsFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.ExpedicaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.IExpedicaoFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.PCP.Negocios.Entidades.IProvedorExpBalcao, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="WebGlass.Business.OrdemCarga.Fluxo.VolumeFluxo, WebGlass.Business" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.IVolumeFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="WebGlass.Business.Pedido.Fluxo.AlterarEstoque, WebGlass.Business" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Estoque.Negocios.IProvedorBaixaEstoque, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Global.Negocios.Componentes.FormaPagtoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Global.Negocios.Entidades.IProvedorFormaPagtoCliente, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Projeto.Negocios.Componentes.FlagArqMesaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Projeto.Negocios.IFlagArqMesaFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Projeto.Negocios.Entidades.IValidadorFlagArqMesa, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Estoque.Negocios.Componentes.MovInternaEstoqueFiscalFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Estoque.Negocios.IMovInternaEstoqueFiscalFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Fiscal.Negocios.Componentes.CestFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Fiscal.Negocios.ICestFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.DominioFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IDominioFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.CavaleteFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.ICavaleteFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.PCP.Negocios.Componentes.OtimizacaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.PCP.Negocios.IOtimizacaoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Fiscal.Negocios.Componentes.IestUfLojaFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Fiscal.Negocios.IIestUfLojaFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Negocios.Componentes.CriarEntidadeFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Negocios.Entidades.ICriarEntidadeProvedor, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.UI.Web.Process.GeradorBoleto, Glass.Financeiro.UI.Web.Process" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.IGeradorBoleto, Glass.Comum" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.QuitacaoParcelaCartaoFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.IQuitacaoParcelaCartaoFluxo, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Projeto.Negocios.Componentes.FerragemCache, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="CalcEngine.IReferenceValueProvider, CalcEngine" member="" />
        <export contractName="" contractType="Glass.Projeto.Negocios.ICalcEngineReferencesService, Glass.Negocios" member="" />
        <export contractType="Glass.Projeto.Negocios.Componentes.FerragemCache, Glass.Negocios.Componentes" />
      </exports>
    </part>
    <part type="Glass.Projeto.Negocios.Componentes.FerragemFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="" contractType="Glass.Projeto.Negocios.IFerragemFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Projeto.Negocios.Entidades.IValidadorFabricanteFerragem, Glass.Negocios.Entidades" member="" />
        <export contractName="" contractType="Glass.Projeto.Negocios.Entidades.IValidadorFerragem, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Projeto.Negocios.Componentes.ExportacaoImportacaoFerragem, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Projeto.Negocios.IExportacaoImportacaoFerragem, Glass.Negocios" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.CartoesFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.ICartoesFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IProvedorTipoCartaoCredito, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>
    <part type="Glass.Financeiro.Negocios.Componentes.JurosFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="false" />
      <exports>
        <export contractName="" contractType="Glass.Financeiro.Negocios.Entidades.IProvedorJuros, Glass.Negocios.Entidades" member="" />
      </exports>
    </part>

    <part type="Glass.Global.Negocios.Componentes.DeviceAppFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Global.Negocios.IDeviceAppFluxo, Glass.Negocios" />
      </exports>
    </part>

    <part type="Glass.Rentabilidade.Negocios.Componentes.CalculadoraComissaoRentabilidade, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <exports>
        <export contractName="" contractType="Glass.Rentabilidade.Negocios.ICalculadoraComissaoRentabilidade, Glass.Negocios" member="" />
      </exports>
    </part>

    <part type="Glass.Rentabilidade.Negocios.Componentes.RentabilidadeFluxo, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="" contractType="Glass.Rentabilidade.Negocios.IRentabilidadeFluxo, Glass.Negocios" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.IProvedorCalculadoraRentabilidade, Glass.Rentabilidade" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.IProvedorIndicadorFinanceiro, Glass.Rentabilidade" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.IProvedorDescritorRegistroRentabilidade, Glass.Rentabilidade" member="" />
        <export contractName="" contractType="Glass.Rentabilidade.Negocios.Entidades.IProvedorExpressaoRentabilidade, Glass.Negocios.Entidades" />
        <export contractName="" contractType="Glass.Rentabilidade.Negocios.Entidades.IProvedorConfigRegistroRentabilidade, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Pedido.Negocios.Componentes.CalculadoraRentabilidadePedido, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.Pedido)" 
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.Pedido, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.ProdutosPedido)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.ProdutosPedido, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.AmbientePedido)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.AmbientePedido, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.Pedido)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.Pedido, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.ProdutosPedido)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.ProdutosPedido, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.AmbientePedido)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.AmbientePedido, Glass.Data], Glass.Data" />
      </exports>
    </part>

    <part type="Glass.PCP.Negocios.Componentes.CalculadoraRentabilidadePedidoEspelho, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.PedidoEspelho)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.PedidoEspelho, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.ProdutosPedidoEspelho)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.ProdutosPedidoEspelho, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.AmbientePedidoEspelho)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.AmbientePedidoEspelho, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.PedidoEspelho)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.PedidoEspelho, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.ProdutosPedidoEspelho)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.ProdutosPedidoEspelho, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.AmbientePedidoESpelho)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.AmbientePedidoEspelho, Glass.Data], Glass.Data" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.CalculadoraRentabilidadeNotaFiscal, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.NotaFiscal)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.NotaFiscal, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade(Glass.Data.Model.ProdutosNf)"
                contractType="Glass.Rentabilidade.Negocios.IProvedorItemRentabilidade`1[Glass.Data.Model.ProdutosNf, Glass.Data], Glass.Negocios" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.NotaFiscal)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.NotaFiscal, Glass.Data], Glass.Data" />
        <export contractName="Glass.Data.ICalculadoraRentabilidade(Glass.Data.Model.ProdutosNf)"
                contractType="Glass.Data.ICalculadoraRentabilidade`1[Glass.Data.Model.ProdutosNf, Glass.Data], Glass.Data" />
      </exports>
    </part>

    <part type="Glass.Otimizacao.Negocios.Componentes.OtimizacaoFluxo, Glass.Negocios.Componentes">
      <exports>
        <export contractType="Glass.Otimizacao.Negocios.IOtimizacaoFluxo, Glass.Negocios" />
      </exports>
    </part>
    
    <part type="Glass.Fiscal.Negocios.Componentes.LocalizadorNaturezaOperacao, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.ILocalizadorNaturezaOperacao, Glass.Negocios" />
      </exports>
    </part>
    
    <part type="Glass.Fiscal.Negocios.Componentes.ProvedorIcmsProdutoUf, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.Entidades.IProvedorIcmsProdutoUf, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.ProvedorMvaProdutoUf, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.Entidades.IProvedorMvaProdutoUf, Glass.Negocios.Entidades" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.ProvedorCodValorFiscal, Glass.Negocios.Componentes" partCreationPolicy="Shared">
      <exports>
        <export contractType="Glass.Fiscal.Negocios.IProvedorCodValorFiscal, Glass.Negocios" />
      </exports>
    </part>
    
    <part type="Glass.Fiscal.Negocios.Componentes.CalculadoraImposto, Glass.Negocios.Componentes" partCreationPolicy="NonShared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractType="Glass.Fiscal.Negocios.ICalculadoraImposto, Glass.Negocios" />
      </exports>
    </part>
    
    <part type="Glass.Fiscal.Negocios.Componentes.Calculadoras.CalculadoraImpostoPedido, Glass.Negocios.Componentes" partCreationPolicy="NonShared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Data.ICalculadoraImposto(Glass.Data.Model.Pedido)" 
                contractType="Glass.Data.ICalculadoraImposto`1[Glass.Data.Model.Pedido, Glass.Data], Glass.Data" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.Calculadoras.CalculadoraImpostoPedidoEspelho, Glass.Negocios.Componentes" partCreationPolicy="NonShared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Data.ICalculadoraImposto(Glass.Data.Model.PedidoEspelho)"
                contractType="Glass.Data.ICalculadoraImposto`1[Glass.Data.Model.PedidoEspelho, Glass.Data], Glass.Data" />
      </exports>
    </part>

    <part type="Glass.Fiscal.Negocios.Componentes.Calculadoras.CalculadoraImpostoNotaFiscal, Glass.Negocios.Componentes" partCreationPolicy="NonShared">
      <importingConstructor useFirst="true" />
      <exports>
        <export contractName="Glass.Data.ICalculadoraImposto(Glass.Data.Model.NotaFiscal)"
                contractType="Glass.Data.ICalculadoraImposto`1[Glass.Data.Model.NotaFiscal, Glass.Data], Glass.Data" />
      </exports>
    </part>

  </parts>
</mef.configuration>