<section class="filtros">
    <div>
        <span class="form-group">
            <label>Num. Compra</label>
            <input type="number" v-model="filtroAtual.id" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Num. Pedido</label>
            <input type="number" v-model="filtroAtual.idPedido" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Cotação de Compra</label>
            <input type="number" v-model="filtroAtual.idCotacaoCompra" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>NF/Pedido</label>
            <input type="text" v-model="filtroAtual.notaFiscal" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Situação</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="situacaoAtual" texto-selecionar="Todas"
                v-bind:funcao-recuperar-itens="obterItensFiltroSituacoesCompra"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Fornecedor</label>
            <input type="number" v-model="filtroAtual.idFornecedor" style="width: 60px" />
            <input type="text" v-model="filtroAtual.nomeFornecedor" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Observação</label>
            <input type="text" v-model="filtroAtual.observacao" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Loja</label>
            <lista-selecao-lojas v-bind:loja.sync="lojaAtual" v-bind:ativas="true"></lista-selecao-lojas>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Grupo</label>
            <lista-selecao-multipla v-bind:ids-selecionados.sync="filtroAtual.idsGrupoProduto" texto-selecionar="Selecione o grupo" 
                v-bind:funcao-recuperar-itens="obterItensFiltroGruposProduto" v-bind:ordenar="false"></lista-selecao-multipla>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Subgrupo</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="subgrupoProdutoAtual" texto-selecionar="Todas"
                v-bind:funcao-recuperar-itens="obterItensFiltroSubgruposProduto" v-bind:filtro-recuperar-itens="filtroSubgrupos"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Produto</label>
            <input type="number" v-model="filtroAtual.codigoProduto" style="width: 60px" />
            <input type="text" v-model="filtroAtual.descricaoProduto" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Período Compra</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoCadastroInicio"
                v-bind:data-hora-final.sync="filtroAtual.periodoCadastroFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Período Ent. Fábrica</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoEntregaFabricaInicio"
                v-bind:data-hora-final.sync="filtroAtual.periodoEntregaFabricaFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Período Saída</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoSaidaInicio"
                v-bind:data-hora-final.sync="filtroAtual.periodoSaidaFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Período Finalização</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoFinalizacaoInicio"
                v-bind:data-hora-final.sync="filtroAtual.periodoFinalizacaoFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Período Entrega Pedido</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoEntradaInicio"
                v-bind:data-hora-final.sync="filtroAtual.periodoEntradaFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <input type="checkbox" v-model="filtroAtual.atrasada" v-if="configuracoes.usarControleFinalizacaoDeCompra" />
            <label>Compras em atraso</label>
        </span>
        <span class="form-group" v-if="configuracoes.exibirFiltroCentroCustoDivergente">
            <input type="checkbox" v-model="filtroAtual.centroDeCustoDivergente" />
            <label>Compras com valor do centro de custo divergente</label>
        </span>
        <span class="form-group">
            <input type="checkbox" v-model="filtroAtual.agruparRelatorioPorFornecedor" />
            <label>Agrupar relatório por fornecedor</label>
        </span>
    </div>
</section>