<section class="filtros">
    <div>
        <span class="form-group">
            <label>Cor</label>
            <lista-selecao-multipla v-bind:ids-selecionados.sync="filtroAtual.idsCorVidro" texto-selecionar="Selecione uma cor"
                v-bind:funcao-recuperar-itens="obterItensFiltroCor" v-bind:ordenar="false"></lista-selecao-multipla>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Espessura</label>
            <input type="number" v-model.number="filtroAtual.espessura" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Fornecedor</label>
            <input type="number" v-model.number="filtroAtual.idFornecedor" style="width: 50px" />
            <input type="text" v-model="filtroAtual.nomeFornecedor" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>NF-e</label>
            <input type="number" v-model.number="filtroAtual.numeroNotaFiscal" style="width: 80px"/>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Lote</label>
            <input type="number" v-model.number="filtroAtual.lote" style="width: 80px"/>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Altura</label>
            <input type="number" v-model.number="filtroAtual.altura" style="width: 80px"/>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Largura</label>
            <input type="number" v-model.number="filtroAtual.largura" style="width: 80px"/>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Produto</label>
            <input type="text" v-model="filtroAtual.codigoProduto" style="width: 50px" />
            <input type="text" v-model="filtroAtual.descricaoProduto" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Etiqueta</label>
            <input type="text" v-model="filtroAtual.codigoEtiqueta" style="width: 80px"/>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Loja</label>
            <lista-selecao-lojas v-bind:loja.sync="lojaAtual"></lista-selecao-lojas>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
</section>
