<section>
    <table class="gridStyle">
        <tr>
            <th>
                Data Leitura
            </th>
            <th>
                Etq. da Chapa
            </th>
            <th>
                Descr.
            </th>
            <th>
                M²
            </th>
            <th>
                M² Lido
            </th>
            <th>
                Sobra
            </th>
            <th>
                Plano de Corte
            </th>
            <th>
                Etiquetas
            </th>
        </tr>
        <tr v-for="(movimentacao) in movimentacoes">
            <td :style="{ color: movimentacao.corLinha }">
                {{ movimentacao.dataLeitura | data }}
            </td>
            <td :style="{ color: movimentacao.corLinha }">
                {{ movimentacao.codigoEtiquetaChapa }}
            </td>
            <td :style="{ color: movimentacao.corLinha }">
                {{ movimentacao.produto }}
            </td>
            <td :style="{ color: movimentacao.corLinha }">
                {{ movimentacao.metroQuadrado.utilizado | decimal }}
            </td>
            <td :style="{ color: movimentacao.corLinha }">
                {{ movimentacao.metroQuadrado.lido | decimal }}
            </td>
            <td :style="{ color: movimentacao.corLinha }">
                {{ movimentacao.metroQuadrado.sobra | decimal }}
            </td>
            <td>
                <controle-tooltip :precisa-clicar="true" v-if="movimentacao.planosCorteVinculados"
                    :titulo="'Plano de Corte da etiqueta: ' + movimentacao.codigoEtiquetaChapa">
                    <template slot="botao">
                        <img src="../Images/blocodenotas.png" title="Planos de corte vinculados" />
                    </template>

                    {{ movimentacao.planosCorteVinculados }}
                </controle-tooltip>
            </td>
            <td>
                <controle-tooltip :precisa-clicar="true" v-if="movimentacao.codigosEtiquetasVinculadas"
                    :titulo="'Leituras da etiqueta: ' + movimentacao.codigoEtiquetaChapa">
                    <template slot="botao">
                        <img src="../Images/blocodenotas.png" title="Etiquetas vinculadas" />
                    </template>

                    {{ movimentacao.codigosEtiquetasVinculadas }}
                </controle-tooltip>
            </td>
        </tr>
    </table>
</section>