<section class="filtros">
    <div>
        <span class="form-group">
            <label>Nome</label>
            <input type="text" v-model="filtroAtual.nome" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Situação</label>
            <select v-model="filtroAtual.situacao">
                <option>Todas</option>
                <option Value="1">Ativo</option>
                <option Value="2">Inativo</option>
            </select>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
</section>
