<section class="filtros">
    <div>
        <span class="form-group">
            <label>Loja</label>
            <lista-selecao-lojas v-bind:loja.sync="lojaAtual" v-bind:ativas="true"></lista-selecao-lojas>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <!--Tipos-->
        </span>
        <span class="form-group">
            <label>Período Movimentação</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoMovimentacaoInicio" v-bind:data-hora-final.sync="filtroAtual.periodoMovimentacaoFim" :exibir-horas="true"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Produto</label>
            <input type="text" v-model="filtroAtual.codigoProduto" style="width: 60px" />
            <input type="text" v-model="filtroAtual.descricaoProduto" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Cod. Otimização</label>
            <input type="text" v-model="filtroAtual.codigoOtimizacao" style="width: 80px" />
        </span>
        <span class="form-group">

        </span>
    </div>
    <div>
        <span class="form-group">

        </span>
        <span class="form-group">

        </span>
        <span class="form-group">

        </span>
    </div>
    <div>
        <span class="form-group">

        </span>
        <span class="form-group">

        </span>
        <span class="form-group">

        </span>
    </div>
</section>
