<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CADProject.Remote.Client" version="1.0.3" targetFramework="net40" />
  <package id="CalcEngine" version="1.8.40" targetFramework="net40" />
  <package id="CalcEngine.Biesse" version="1.8.40" targetFramework="net40" />
  <package id="CalcEngine.Drawing" version="1.7.2.232" targetFramework="net40" />
  <package id="CalcEngine.Dxf" version="1.8.40" targetFramework="net40" />
  <package id="CalcEngine.Forvet" version="1.8.40" targetFramework="net40" />
  <package id="CalcEngine.Optima" version="1.8.40" targetFramework="net40" />
  <package id="CalcEngine.SGlass" version="1.8.40" targetFramework="net40" />
  <package id="CalcEngine.Text" version="1.7.2.232" targetFramework="net40" />
  <package id="Colosoft.Business" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Caching" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.CommonServiceLocator" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Core" version="1.0.0.272" targetFramework="net40" />
  <package id="Colosoft.Data" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Data.Caching" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Data.Schema" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.DataAccess" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.GDA" version="1.4.5.14925" targetFramework="net40" />
  <package id="Colosoft.Net" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Query" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Text" version="1.0.0" targetFramework="net40" />
  <package id="Colosoft.Validation" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="NPOI" version="2.2.1" targetFramework="net40" />
  <package id="NUnit" version="2.5.7.10213" targetFramework="net4" />
  <package id="NUnit.Mocks" version="2.6.4" targetFramework="net4" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>