<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="codigoAtivacao" value="123456" />
    <add key="UF" value="35" />
    <add key="ultimoNumeroCF" value="0" />
    <add key="numSerieSAT" value="548753" />
    <add key="versaoSB" value="1.0" />
    <add key="versaoLayout" value="1.0" />
    <!-- 1 = Produção | 2 = Testes -->
    <add key="ambiente" value="2" />
    <add key="cnpjEmitente" value="11111111111111" />
  </appSettings>
</configuration>