<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStatusSistema" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://suportesync.no-ip.org/Externo/StatusSistema.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatusSistema"
                contract="StatusSistemaService.IStatusSistema" name="BasicHttpBinding_IStatusSistema" />
        </client>
    </system.serviceModel>
</configuration>