<section v-if="pedido && (!configuracoes.exibirAmbientes || ambiente)">
    <form>
        <lista-paginada v-bind:exibir-inclusao="true" v-bind:linha-editando="numeroLinhaEdicao" v-bind:funcao-recuperar-itens="buscarProdutos"
            v-bind:ordenacao="ordenacao" v-bind:filtro="filtro">
            <template slot="cabecalho">
                <th></th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('codigo')">
                        Cód.
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('produto')">
                        Produto
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('quantidade')">
                        Qtde.
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('largura')">
                        Largura
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('altura')">
                        Altura
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('area')">
                        Tot. m²
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('areaCalculo')">
                        Tot. m² cálc.
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('valorUnitario')">
                        Valor vendido
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('processo')">
                        Proc.
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('aplicacao')">
                        Apl.
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('codigoPedidoCliente')">
                        Ped. Cli.
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('total')">
                        Total
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('valorBeneficiamentos')">
                        V. Benef.
                    </a>
                </th>
                <th>
                    <a href="#" v-on:click.prevent="ordenar('percentualComissaoProduto')">
                        Perc. Comissão Prod.
                    </a>
                </th>
                <th></th>
            </template>
            <template slot="item" slot-scope="{ item, index }">
                <td style="white-space: nowrap">
                    <button v-on:click.prevent="editar(item, index)" title="Editar" v-if="!inserindo && numeroLinhaEdicao === -1">
                        <img src="../Images/Edit.gif">
                    </button>
                    <button v-on:click.prevent="excluir(item)" title="Excluir" v-if="item.permissoes.excluir && !inserindo && numeroLinhaEdicao === -1">
                        <img src="../Images/ExcluirGrid.gif">
                    </button>
                </td>
                <td>
                    {{ item.produto.codigo }}
                </td>
                <td>
                    {{ item.produto.descricaoComBeneficiamentos }}
                </td>
                <td>
                    {{ item.quantidade }}
                    <span v-if="pedidoMaoDeObra && ambiente && ambiente.quantidade > 0">
                        x {{ ambiente.quantidade }} peças de vidro
                    </span>
                </td>
                <td>
                    {{ item.largura }}
                </td>
                <td>
                    {{ item.altura.paraExibirNaLista }}
                </td>
                <td>
                    {{ item.areaEmM2.real | decimal }}
                </td>
                <td>
                    {{ item.areaEmM2.paraCalculo | decimal }}
                </td>
                <td>
                    {{ item.valorUnitario | moeda }}
                </td>
                <td>
                    <span v-if="item.processo">
                        {{ item.processo.codigo }}
                    </span>
                </td>
                <td>
                    <span v-if="item.aplicacao">
                        {{ item.aplicacao.codigo }}
                    </span>
                </td>
                <td>
                    {{ item.codigoPedidoCliente }}
                </td>
                <td>
                    {{ item.total | moeda }}
                    <span v-if="item.descontoPorQuantidade && item.descontoPorQuantidade.percentual > 0">
                        (Desconto de {{ item.descontoPorQuantidade.percentual | percentual }})
                    </span>
                </td>
                <td>
                    <span v-if="item.beneficiamentos">
                        {{ item.beneficiamentos.valor | moeda }}
                    </span>
                    <span v-else>
                        {{ 0 | moeda }}
                    </span>
                </td>
                <td>
                    {{ item.percentualComissao | percentual }}
                </td>
                <td></td>
            </template>
            <template slot="itemEditando">
                <td style="white-space: nowrap">
                    <button v-on:click.prevent="atualizar" title="Atualizar">
                        <img src="../Images/ok.gif">
                    </button>
                    <button v-on:click.prevent="cancelar" title="Cancelar">
                        <img src="../Images/ExcluirGrid.gif">
                    </button>
                </td>
                <td>
                    <span v-if="produtoPedido && produtoPedido.produto">
                        {{ produtoPedido.produto.codigo }}
                    </span>
                    <div style="display: none">
                        <campo-busca-produto v-bind:produto.sync="produtoAtual" v-if="produtoPedido && produtoPedido.produto"
                            tipo-validacao="Pedido" v-bind:dados-adicionais-validacao="dadosValidacaoProduto"></campo-busca-produto>
                    </div>
                </td>
                <td>
                    <span v-if="produtoPedido && produtoPedido.produto">
                        {{ produtoPedido.produto.descricao }}
                    </span>
                </td>
                <td>
                    <campo-quantidade v-bind:quantidade.sync="produtoPedido.quantidade" v-bind:percentual-desconto-por-quantidade.sync="produtoPedido.descontoPorQuantidade.percentual"
                        v-bind:valor-desconto-por-quantidade.sync="produtoPedido.descontoPorQuantidade.valor" v-bind:permite-decimal="produtoAtual && produtoAtual.quantidade && produtoAtual.quantidade.permiteDecimal"
                        v-bind:id-produto="produtoAtual ? produtoAtual.id : null" v-bind:id-cliente="pedido.cliente.id" v-if="produtoPedido && produtoPedido.descontoPorQuantidade"></campo-quantidade>
                    <span v-if="pedidoMaoDeObra && ambiente && ambiente.quantidade > 0">
                        x {{ ambiente.quantidade }} peças de vidro
                    </span>
                </td>
                <td>
                    <campo-largura v-bind:largura.sync="produtoPedido.largura" v-bind:permite-decimal="produtoAtual && produtoAtual.largura && produtoAtual.largura.permiteDecimal"
                        v-bind:permite-editar="produtoAtual && produtoAtual.largura && produtoAtual.largura.podeEditar" v-if="produtoPedido"></campo-largura>
                </td>
                <td>
                    <campo-altura v-bind:altura-para-exibir.sync="produtoPedido.altura.paraCalculo" v-bind:altura-oculta.sync="produtoPedido.altura.real"
                        v-bind:permite-decimal="produtoAtual && produtoAtual.altura && produtoAtual.altura.permiteDecimal" v-bind:permite-editar="produtoAtual && produtoAtual.altura && produtoAtual.altura.podeEditar"
                        v-bind:fator-arredondamento="produtoAtual && produtoAtual.altura ? produtoAtual.altura.fatorArredondamento : null"
                        v-if="produtoPedido && produtoPedido.altura"></campo-altura>
                </td>
                <td>
                    <campo-area-m2 v-bind:area-m2.sync="produtoPedido.areaEmM2.real" v-bind:area-calculada-m2.sync="produtoPedido.areaEmM2.paraCalculo" v-bind:tamanho-maximo-produto="produtoAtual.tamanhoMaximoObra"
                        v-bind:id-produto="produtoPedido.produto.id" v-bind:id-cliente="pedido.cliente.id" v-bind:altura="produtoPedido.altura.paraCalculo" v-bind:largura="produtoPedido.largura"
                        v-bind:quantidade="produtoPedido.quantidade" v-bind:redondo="produtoPedido.beneficiamentos.redondo" v-bind:espessura="produtoPedido.produto.espessura" v-bind:calcular-multiplo-de-5="pedidoProducaoCorte"
                        v-bind:numero-beneficiamentos-para-area-minima="numeroBeneficiamentosParaAreaMinima" tipo-validacao="Pedido" v-bind:dados-adicionais-validacao="dadosValidacaoProduto"
                        v-if="produtoPedido && produtoPedido.areaEmM2 && produtoPedido.descontoPorQuantidade && produtoAtual"></campo-area-m2>
                </td>
                <td>
                    <span v-if="produtoPedido && produtoPedido.areaEmM2 && produtoPedido.areaEmM2.paraCalculo > 0">
                        {{ produtoPedido.areaEmM2.paraCalculo | decimal }}
                    </span>
                </td>
                <td>
                    <input type="number" step="0.01" min="produtoAtual ? produtoAtual.valorMinimo : 0" v-model.number="produtoPedido.valorUnitario"
                        style="width: 50px" required>
                </td>
                <td>
                    <campo-busca-etiqueta-processo v-bind:processo.sync="processoAtual" v-if="produtoPedido"></campo-busca-etiqueta-processo>
                </td>
                <td>
                    <campo-busca-etiqueta-aplicacao v-bind:aplicacao.sync="aplicacaoAtual" v-if="produtoPedido"></campo-busca-etiqueta-aplicacao>
                </td>
                <td>
                    <input type="number" v-model.number="produtoPedido.valorUnitario" style="width: 60px" step="0.01" required
                        v-bind:min="produtoAtual.valorMinimo" v-if="produtoPedido && produtoAtual && produtoAtual.podeEditarValorUnitario">
                    <span v-else-if="produtoPedido">
                        {{ produtoPedido.valorUnitario | moeda }}
                    </span>
                </td>
                <td>
                    <campo-total v-bind:total.sync="produtoPedido.total" v-bind:area-m2="produtoPedido.areaEmM2.real" v-bind:area-calculada-m2="produtoPedido.areaEmM2.paraCalculo"
                        v-bind:id-produto="produtoPedido.produto.id" v-bind:id-cliente="pedido.cliente.id" v-bind:altura="produtoPedido.altura.paraCalculo" v-bind:largura="produtoPedido.largura"
                        v-bind:quantidade="produtoPedido.quantidade" v-bind:redondo="produtoPedido.beneficiamentos.redondo" v-bind:espessura="produtoPedido.produto.espessura" v-bind:calcular-multiplo-de-5="pedidoProducaoCorte"
                        v-bind:numero-beneficiamentos-para-area-minima="numeroBeneficiamentosParaAreaMinima" v-bind:valor-unitario="produtoPedido.valorUnitario" tipo-validacao="Pedido"
                        v-bind:dados-adicionais-validacao="dadosValidacaoProduto" v-bind:quantidade-ambiente="ambiente ? ambiente.quantidade : 0" v-if="produtoPedido && produtoPedido.areaEmM2"></campo-total>
                </td>
                <td>
                    <span v-if="produtoPedido.beneficiamentos">
                        {{ produtoPedido.beneficiamentos.valor | moeda }}
                    </span>
                    <span v-else>
                        {{ 0 | moeda }}
                    </span>
                </td>
                <td>
                    <input type="number" step="0.01" v-model.number="produtoPedido.percentualComissao" min="0" style="width: 50px" />
                </td>
                <td>
                    <controle-beneficiamentos v-bind:itens-selecionados.sync="produtoPedido.beneficiamentos.itens" v-bind:redondo.sync="produtoPedido.beneficiamentos.redondo"
                        v-bind:valor-beneficiamentos.sync="produtoPedido.beneficiamentos.valor" v-bind:id-produto="produtoAtual.id" v-bind:beneficiamentos-padrao="produtoAtual.beneficiamentos"
                        v-bind:altura-produto="produtoPedido.altura.paraCalculo" v-bind:largura-produto="produtoPedido.largura" v-bind:quantidade-produto="produtoPedido.quantidade"
                        v-bind:quantidade-ambiente="ambiente ? ambiente.quantidade : null" v-bind:area-m2-produto="produtoPedido.areaEmM2.real" v-bind:area-calculada-m2-produto="produtoPedido.areaEmM2.paraCalculo"
                        v-bind:valor-unitario-produto="produtoPedido.valorUnitario" v-bind:custo-unitario-produto="produtoAtual.custo" v-bind:cliente-revenda="pedido.cliente.revenda"
                        v-bind:percentual-desconto-acrescimo-cliente="(produtoAtual.descontoAcrescimoCliente || {}).percentual"
                        v-bind:usar-desconto-acrescimo-cliente-nos-beneficiamentos="(produtoAtual.descontoAcrescimoCliente || {}).usarNosBeneficiamentos" v-bind:tipo-entrega="(pedido.entrega.tipo || {}).id"
                        v-bind:percentual-comissao="((pedido.comissionado || {}).comissao || {}).percentual || 0" v-bind:tipo-beneficiamentos="tipoBeneficiamentos"
                        v-if="vIfControleBeneficiamentos"></controle-beneficiamentos>
                </td>
            </template>
            <template slot="itemIncluir">
                <td style="white-space: nowrap">
                    <button v-on:click.prevent="iniciarCadastro" title="Novo produto..." v-if="!inserindo">
                        <img src="../Images/Insert.gif">
                    </button>
                    <button v-on:click.prevent="inserir" title="Inserir" v-if="inserindo">
                        <img src="../Images/Ok.gif">
                    </button>
                    <button v-on:click.prevent="cancelar" title="Cancelar" v-if="inserindo">
                        <img src="../Images/ExcluirGrid.gif">
                    </button>
                </td>
                <td colspan="2">
                    <campo-busca-produto v-bind:produto.sync="produtoAtual" v-if="inserindo && produtoPedido && produtoPedido.produto"
                        tipo-validacao="Pedido" v-bind:dados-adicionais-validacao="dadosValidacaoProduto"></campo-busca-produto>
                </td>
                <td>
                    <campo-quantidade v-bind:quantidade.sync="produtoPedido.quantidade" v-bind:percentual-desconto-por-quantidade.sync="produtoPedido.descontoPorQuantidade.percentual"
                        v-bind:valor-desconto-por-quantidade.sync="produtoPedido.descontoPorQuantidade.valor" v-bind:permite-decimal="produtoAtual && produtoAtual.quantidade && produtoAtual.quantidade.permiteDecimal"
                        v-bind:id-produto="produtoAtual ? produtoAtual.id : null" v-bind:id-cliente="pedido.cliente.id" v-if="inserindo && produtoPedido && produtoPedido.descontoPorQuantidade"></campo-quantidade>
                    <span v-if="inserindo && pedidoMaoDeObra && produtoPedido && ambiente && ambiente.quantidade > 0">
                        x {{ ambiente.quantidade }} peças de vidro
                    </span>
                </td>
                <td>
                    <campo-largura v-bind:largura.sync="produtoPedido.largura" v-bind:permite-decimal="produtoAtual && produtoAtual.largura && produtoAtual.largura.permiteDecimal"
                        v-bind:permite-editar="produtoAtual && produtoAtual.largura && produtoAtual.largura.podeEditar" v-if="inserindo && produtoPedido"></campo-largura>
                </td>
                <td>
                    <campo-altura v-bind:altura-para-exibir.sync="produtoPedido.altura.paraCalculo" v-bind:altura-oculta.sync="produtoPedido.altura.real"
                        v-bind:permite-decimal="produtoAtual && produtoAtual.altura && produtoAtual.altura.permiteDecimal" v-bind:permite-editar="produtoAtual && produtoAtual.altura && produtoAtual.altura.podeEditar"
                        v-bind:fator-arredondamento="produtoAtual && produtoAtual.altura ? produtoAtual.altura.fatorArredondamento : null"
                        v-if="inserindo && produtoPedido && produtoPedido.altura"></campo-altura>
                </td>
                <td>
                    <campo-area-m2 v-bind:area-m2.sync="produtoPedido.areaEmM2.real" v-bind:area-calculada-m2.sync="produtoPedido.areaEmM2.paraCalculo" v-bind:tamanho-maximo-produto="produtoAtual.tamanhoMaximoObra"
                        v-bind:id-produto="produtoPedido.produto.id" v-bind:id-cliente="pedido.cliente.id" v-bind:altura="produtoPedido.altura.paraCalculo" v-bind:largura="produtoPedido.largura"
                        v-bind:quantidade="produtoPedido.quantidade" v-bind:redondo="produtoPedido.beneficiamentos.redondo" v-bind:espessura="produtoPedido.produto.espessura" v-bind:calcular-multiplo-de-5="pedidoProducaoCorte"
                        v-bind:numero-beneficiamentos-para-area-minima="numeroBeneficiamentosParaAreaMinima" tipo-validacao="Pedido" v-bind:dados-adicionais-validacao="dadosValidacaoProduto"
                        v-if="inserindo && produtoPedido && produtoPedido.areaEmM2 && produtoPedido.descontoPorQuantidade && produtoAtual"></campo-area-m2>
                </td>
                <td>
                    <span v-if="inserindo && produtoPedido && produtoPedido.areaEmM2 && produtoPedido.areaEmM2.paraCalculo > 0">
                        {{ produtoPedido.areaEmM2.paraCalculo | decimal }}
                    </span>
                </td>
                <td>
                    <input type="number" v-model.number="produtoPedido.valorUnitario" style="width: 60px" step="0.01" required
                        v-bind:min="produtoAtual.valorMinimo" v-if="inserindo && produtoPedido && produtoAtual && produtoAtual.podeEditarValorUnitario">
                    <span v-else-if="inserindo && produtoPedido">
                        {{ produtoPedido.valorUnitario | moeda }}
                    </span>
                </td>
                <td>
                    <campo-busca-etiqueta-processo v-bind:processo.sync="processoAtual" v-if="inserindo && produtoPedido"></campo-busca-etiqueta-processo>
                </td>
                <td>
                    <campo-busca-etiqueta-aplicacao v-bind:aplicacao.sync="aplicacaoAtual" v-if="inserindo && produtoPedido"></campo-busca-etiqueta-aplicacao>
                </td>
                <td>
                    <input type="text" v-model="produtoPedido.codigoPedidoCliente" maxlength="50" style="width: 50px" v-if="inserindo && produtoPedido">
                </td>
                <td>
                    <campo-total v-bind:total.sync="produtoPedido.total" v-bind:area-m2="produtoPedido.areaEmM2.real" v-bind:area-calculada-m2="produtoPedido.areaEmM2.paraCalculo"
                        v-bind:id-produto="produtoPedido.produto.id" v-bind:id-cliente="pedido.cliente.id" v-bind:altura="produtoPedido.altura.paraCalculo" v-bind:largura="produtoPedido.largura"
                        v-bind:quantidade="produtoPedido.quantidade" v-bind:redondo="produtoPedido.beneficiamentos.redondo" v-bind:espessura="produtoPedido.produto.espessura" v-bind:calcular-multiplo-de-5="pedidoProducaoCorte"
                        v-bind:numero-beneficiamentos-para-area-minima="numeroBeneficiamentosParaAreaMinima" v-bind:valor-unitario="produtoPedido.valorUnitario" tipo-validacao="Pedido"
                        v-bind:dados-adicionais-validacao="dadosValidacaoProduto" v-bind:quantidade-ambiente="ambiente ? ambiente.quantidade : 0" v-if="inserindo && produtoPedido && produtoPedido.areaEmM2"></campo-total>
                </td>
                <td>
                    <span v-if="inserindo && produtoPedido.beneficiamentos">
                        {{ produtoPedido.beneficiamentos.valor | moeda }}
                    </span>
                    <span v-else-if="inserindo">
                        {{ 0 | moeda }}
                    </span>
                </td>
                <td>
                    <input type="number" step="0.01" v-model.number="produtoPedido.percentualComissao" min="0" style="width: 50px" v-if="inserindo && produtoPedido" />
                </td>
                <td>
                    <controle-beneficiamentos v-bind:itens-selecionados.sync="produtoPedido.beneficiamentos.itens" v-bind:redondo.sync="produtoPedido.beneficiamentos.redondo"
                        v-bind:valor-beneficiamentos.sync="produtoPedido.beneficiamentos.valor" v-bind:id-produto="produtoAtual.id" v-bind:beneficiamentos-padrao="produtoAtual.beneficiamentos"
                        v-bind:altura-produto="produtoPedido.altura.paraCalculo" v-bind:largura-produto="produtoPedido.largura" v-bind:quantidade-produto="produtoPedido.quantidade"
                        v-bind:quantidade-ambiente="ambiente ? ambiente.quantidade : null" v-bind:area-m2-produto="produtoPedido.areaEmM2.real" v-bind:area-calculada-m2-produto="produtoPedido.areaEmM2.paraCalculo"
                        v-bind:valor-unitario-produto="produtoPedido.valorUnitario" v-bind:custo-unitario-produto="produtoAtual.custo" v-bind:cliente-revenda="pedido.cliente.revenda"
                        v-bind:percentual-desconto-acrescimo-cliente="(produtoAtual.descontoAcrescimoCliente || {}).percentual"
                        v-bind:usar-desconto-acrescimo-cliente-nos-beneficiamentos="(produtoAtual.descontoAcrescimoCliente || {}).usarNosBeneficiamentos" v-bind:tipo-entrega="(pedido.entrega.tipo || {}).id"
                        v-bind:percentual-comissao="((pedido.comissionado || {}).comissao || {}).percentual || 0" v-bind:tipo-beneficiamentos="tipoBeneficiamentos"
                        v-if="inserindo && vIfControleBeneficiamentos"></controle-beneficiamentos>
                </td>
            </template>
        </lista-paginada>
    </form>
</section>
