<section class="filtros">
    <div>
        <span class="form-group">
            <label for="id">Pedido</label>
            <input id="id" type="number" v-model.number="filtroAtual.id" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="idOrcamento">Num. Orçamento</label>
            <input id="idOrcamento" type="number" v-model.number="filtroAtual.idOrcamento" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="codigoPedidoCliente">Pedido Cli.</label>
            <input id="codigoPedidoCliente" type="text" v-model="filtroAtual.codigoPedidoCliente" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="idCliente">Cliente</label>
            <input id="idCliente" type="number" v-model.number="filtroAtual.idCliente" style="width: 50px" />
            <input id="nomeCliente" type="text" v-model="filtroAtual.nomeCliente" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group" v-if="configuracoes.exibirFiltroValores">
            <label for="valorPedidoMinimo">Valor</label>
            <input id="valorPedidoMinimo" type="number" v-model.number="filtroAtual.valorPedidoMinimo" style="width: 60px" />
            <label>a</label>
            <input id="valorPedidoMaximo" type="number" v-model.number="filtroAtual.valorPedidoMaximo" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label for="situacao">Situação</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="situacaoAtual" texto-selecionar="Todas" v-bind:funcao-recuperar-itens="obterItensFiltroSituacoesPedido"
                v-bind:ordenar="false"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group" v-if="configuracoes.exibirColunaLoja">
            <label for="idLoja">Loja</label>
            <lista-selecao-lojas v-bind:loja.sync="lojaAtual" v-bind:ativas="true"></lista-selecao-lojas>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="situacaoProducao">Situação Prod.</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="situacaoProducaoAtual" texto-selecionar="Todas" v-bind:funcao-recuperar-itens="obterItensFiltroSituacoesProducao"
                v-bind:ordenar="false"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group" v-if="configuracoes.exibirFiltroPronto">
            <label for="tipoPedido">Tipo</label>
            <lista-selecao-multipla v-bind:ids-selecionados.sync="filtroAtual.tipoPedido" texto-selecionar="Selecione o tipo" v-bind:funcao-recuperar-itens="obterItensFiltroTiposPedido"
                v-bind:ordenar="false" campo-id="id" campo-descricao="nome"></lista-selecao-multipla>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="fastDelivery">Fast Delivery</label>
            <select v-model="filtroAtual.fastDelivery">
                <option value="">Todos</option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label for="origem">Origem Pedido</label>
            <select id="origem" v-model="filtroAtual.origem">
                <option value="0">Todos</option>
                <option value="1">Normal</option>
                <option value="2">Ecommerce</option>
                <option value="3">Importado</option>
            </select>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="cidade">Cidade</label>
            <campo-busca-cidade v-bind:cidade.sync="cidadeAtual"></campo-busca-cidade>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="bairro">Bairro</label>
            <input id="bairro" type="text" maxlength="50" v-model="filtroAtual.bairro" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="endereco">Endereço</label>
            <input id="bairro" type="text" maxlength="80" style="width: 150px" v-model="filtroAtual.endereco" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="complemento">Complemento</label>
            <input id="complemento" type="text" maxlength="50" v-model="filtroAtual.complemento" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label for="altura">Altura Produto</label>
            <input id="altura" type="number" v-model.number="filtroAtual.altura" style="width: 50px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="largura">Largura Produto</label>
            <input id="largura" type="number" v-model.number="filtroAtual.largura" style="width: 50px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group" v-if="configuracoes.exibirFiltroPronto">
            <label for="diferencaDiasEntreProntoELiberado">Diferença dias entre Pedido Pronto e Liberado</label>
            <input id="diferencaDiasEntreProntoELiberado" type="number" v-model.number="filtroAtual.diferencaDiasEntreProntoELiberado"
                style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Período Cad.:</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoCadastroInicio" v-bind:data-hora-final.sync="filtroAtual.periodoCadastroFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Período Finalização:</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoFinalizacaoInicio" v-bind:data-hora-final.sync="filtroAtual.periodoFinalizacaoFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group" v-if="configuracoes.exibirFiltroPronto">
            <label>Usuário Fin.</label>
            <lista-selecao-multipla v-bind:ids-selecionados.sync="filtroAtual.codigoUsuarioFinalizacao" texto-selecionar="Selecione o usuário"
                v-bind:funcao-recuperar-itens="recuperarUsuariosFinalizacao"></lista-selecao-multipla>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group" v-if="configuracoes.exibirFiltroPronto">
            <label for="tipoVenda">Tipo Venda</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="tipoVendaAtual" v-bind:funcao-recuperar-itens="obterItensFiltroTiposVenda"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="observacao">Observação:</label>
            <input id="observacao" type="text" v-model="filtroAtual.observacao" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="observacaoLiberacao">Obs. Liberação:</label>
            <input id="observacaoLiberacao" type="text" v-model="filtroAtual.observacaoLiberacao" maxlength="300" style="width: 200px"
            />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
</section>
