<section class="filtros">
    <div>
        <span class="form-group">
            <label for="id">Liberação</label>
            <input id="id" type="number" v-model.number="filtroAtual.id" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="id">Pedido</label>
            <input id="id" type="number" v-model.number="filtroAtual.idPedido" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="id">Nota Fiscal</label>
            <input id="id" type="number" v-model.number="filtroAtual.numeroNfe" style="width: 60px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="idLoja">Loja</label>
            <lista-selecao-lojas v-bind:loja.sync="lojaAtual" v-bind:ativas="true"></lista-selecao-lojas>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label for="idCliente">Cliente</label>
            <input id="idCliente" type="number" v-model.number="filtroAtual.idCliente" style="width: 50px" />
            <input id="nomeCliente" type="text" v-model="filtroAtual.nomeCliente" style="width: 200px" />
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Liberado por</label>
            <lista-selecao-id-valor v-bind:item-selecionado.sync="liberadorAtual" texto-selecionar="Todos" v-bind:funcao-recuperar-itens="obterItensFiltroLiberadores"
                v-bind:ordenar="false"></lista-selecao-id-valor>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="situacao">Situação</label>
            <select id="situacao" v-model="filtroAtual.situacao">
                <option Value="0">Todas</option>
                <option Value="1" selected="selected">Liberado</option>
                <option Value="2">Cancelado</option>
            </select>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label for="liberacaoComSemNotaFiscal">Nota fiscal</label>
            <select id="liberacaoComSemNotaFiscal" v-model="filtroAtual.liberacaoComSemNotaFiscal">
                <option value="0">Todas</option>
                <option Value="1">Apenas liberações com nota fiscal</option>
                <option Value="2">Apenas liberações sem nota fiscal</option>
            </select>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
    <div>
        <span class="form-group">
            <label>Período liberação:</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoCadastroInicio" v-bind:data-hora-final.sync="filtroAtual.periodoCadastroFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
        <span class="form-group">
            <label>Período cancelamento:</label>
            <campo-data-hora-periodo v-bind:data-hora-inicial.sync="filtroAtual.periodoCancelamentoInicio" v-bind:data-hora-final.sync="filtroAtual.periodoCancelamentoFim"></campo-data-hora-periodo>
            <button class="botaoPesquisar" v-on:click.prevent="filtrar" title="Pesquisar"></button>
        </span>
    </div>
</section>
