<section>
    <lista-paginada ref="lista" v-bind:funcao-recuperar-itens="obterLista" v-bind:filtro="filtro"
        ordenacao="ordenacao" mensagem-lista-vazia="Nenhuma peça encontrada.">
        <template slot="cabecalho">
            <th>
                Cód. Produto
            </th>
            <th>
                Descrição
            </th>
            <th>
                Etiqueta
            </th>
            <th>
                Altura
            </th>
            <th>
                Largura
            </th>
        </template>
        <template slot="item" slot-scope="{ item }">
            <td>{{ item.produto.codigo }}</td>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.codigoEtiqueta }}</td>
            <td>{{ item.medidas.altura }}</td>
            <td>{{ item.medidas.largura }}</td>
        </template>
    </lista-paginada>
</section>